<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="card1 ">
        <img src="assets/images/logo/uniqlo-logo.png" class="center">


        <b style="font-size: 25px;"> บริษัท จี โกลบอล ริช จำกัด<BR></b>
        <h2 style="font-size: 20px;"> 109/1 หมู่ที่ 6 ตำบลบุ่งคล้า อำเภอหล่มสัก จ.เพชรบูรณ์ 67110</h2>


    </div>
    <div class="container">
        <div class="card22 " *ngIf="this.ItemData.type === 'Deposit'">
            <b style="font-size: 16px;"> ข้อมูลผู้รับสินค้าเข้า<BR> </b>
            ชื่อ : {{ ItemData.create_by }}<BR>
        </div>
        <div class="card22 " *ngIf="this.ItemData.type === 'Withdraw'">
            <b style="font-size: 16px;"> ข้อมูลผู้เบิกสินค้าออก<BR> </b>
            ชื่อ : {{ ItemData.create_by }}<BR>
        </div>
        <div class="card2 " *ngIf="this.ItemData.type === 'Deposit'">
            <b style="font-size: 16px;"> ข้อมูลรับสินค้าเข้า<BR> </b>
            เลขที่รับเข้า : {{ ItemData.report_id }} <BR>
            วันที่ : {{ ItemData.date | thaiDate }}
        </div>
        <div class="card2 " *ngIf="this.ItemData.type === 'Withdraw'">
            <b style="font-size: 16px;"> ข้อมูลเบิกสินค้าออก<BR> </b>
            เลขที่เบิกออก: {{ ItemData.report_id }} <BR>
            วันที่ : {{ ItemData.date | thaiDate }}
        </div>
    </div>
    <div class="flex flex-auto overflow-hidden">
        <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto">
            <table class="border-collapse border border-slate-400 w-full text-center">
                <thead>
                    <tr>
                        <th class="border border-slate-300 ...">ลำดับ</th>
                        <th class="border border-slate-300 ...">รหัสสินค้า</th>
                        <th class="border border-slate-300 ...">ชื่อ</th>
                        <th class="border border-slate-300 ...">รายละเอียดสินค้า</th>
                        <th class="border border-slate-300 ...">ที่เก็บสินค้า</th>
                        <th class="border border-slate-300 ...">ราคา/ชิ้น</th>
                        <th class="border border-slate-300 ...">จำนวน</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow2?.length != 0">
                    <tr *ngFor="let s of dataRow2; let i = index">
                        <td class="border border-slate-300 ...">{{ i+1 }}</td>
                        <td class="border border-slate-300 ...">{{s.item.item_id}}</td>
                        <td class="border border-slate-300 ...">{{s.item.name}}</td>
                        <td class="border border-slate-300 ...">{{s.item.description}}</td>
                        <!-- <td class="border border-slate-300 ...">{{s.item.location_1.name }}</td> -->
                        <td class="border border-slate-300 ...">{{ s.location_1.name }}</td>
                        <td class="border border-slate-300 ...">{{s.item.unit_price}}</td>
                        <td class="border border-slate-300 ...">{{myMath.abs(s.qty) }}</td>
                    </tr>
                    <tr>
                        <td class="border border-slate-300 ..." colspan="5" rowspan="2"></td>
                        <td class="border border-slate-300 ...">
                            <br>
                        </td>
                        <td class="border border-slate-300 ..."></td>
                    </tr>
                    <tr *ngIf="this.ItemData.type === 'Deposit'">
                        <td class="border border-slate-300 ...">ผู้รับสินค้า</td>
                        <td class="border border-slate-300 ...">ผู้อนุมัติ</td>
                    </tr>
                    <tr *ngIf="this.ItemData.type === 'Withdraw'">
                        <td class="border border-slate-300 ...">ผู้เบิกสินค้า</td>
                        <td class="border border-slate-300 ...">ผู้อนุมัติ</td>
                    </tr>
                </tbody>
                <!-- <tbody *ngIf="dataRow.?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td class="border border-slate-300 ...">>{{item.name}}</td>
                        <td class="border border-slate-300 ...">>{{item.item.item_id}}</td>
                        <td class="border border-slate-300 ...">>{{item.item_name}}</td>
                        <td class="border border-slate-300 ...">>{{item.item.description}}</td>
                        <td class="border border-slate-300 ...">>{{item.item.location.name}}</td>
                        <td class="border border-slate-300 ...">>{{item.item.location.warehouse.name}}</td>
                        <td class="border border-slate-300 ...">>{{item.unit_price}}</td>
                        <td class="border border-slate-300 ...">>{{item.qty}}</td>
                      

                    </tr>
                </tbody> -->

            </table>
        </div>

    </div>
</div>