<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-auto bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">กระเป๋าวอลเล็ท</div>
        <!-- Actions -->
        <div *ngIf="roleType == 'marketing'" class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Add product button -->
            <a (click)="New()" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">เติมเงินเข้ากระเป๋า</span>
            </a>

                        <!-- Add product button -->
                        <a (click)="New2()" class="ml-4" mat-flat-button [color]="'primary'">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">ประวัติการทำรายการ</span>
                        </a>

        </div>
    </div>

    <!-- search -->
    <!-- <div class="search-box relative flex flex-col flex-0 px-6 md:px-8 border-b mt-4">

    </div> -->

    <div class="flex flex-col flex-auto min-w-0 bg-gray-100 dark:bg-transparent justify-center">
        <div class="px-6 sm:px-10 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6 mt-6 ml-50">
          <div class="flex items-center p-8 mb-6 bg-white shadow rounded-lg left-auto">
            <div class="inline-flex items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
              <svg class="h-6 w-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M18 18.5a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m1.5-9l1.96 2.5H17V9.5m-11 9A1.5 1.5 0 0 1 4.5 17 1.5 1.5 0 0 1 6 15.5a1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5M20 8h-3V4H3c-1.11 0-2 .89-2 2v11h2a3 3 0 0 0 3 3 3 3 0 0 0 3-3h6a3 3 0 0 0 3 3 3 3 0 0 0 3-3h2v-5l-3-4Z"/>
              </svg>
            </div>
            <div class="text-center">
              <span class="block text-2xl font-bold">500</span>
              <span class="block text-gray-500">ค่าส่งปลายทาง</span>
            </div>
          </div>
          <div class="flex items-center p-8 mb-6 bg-white shadow rounded-lg">
            <div class="inline-flex items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
              <svg class="h-6 w-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"/>
              </svg>
            </div>
            <div class="text-center">
              <span class="block text-2xl font-bold">50</span>
              <span class="block text-gray-500">ค่าขนส่ง</span>
            </div>
          </div>
          <div class="flex items-center p-8 mb-6 bg-white shadow rounded-lg">
            <div class="inline-flex items-center justify-center h-16 w-16 text-red-600 bg-red-100 rounded-full mr-6">
            <svg class="h-6 w-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"/>
            </svg>
            </div>
            <div class="text-center">
            <span class="inline-block text-2xl font-bold">30</span>
            <span class="block text-gray-500">ยอดรอจ่าย COD</span>
            </div>
            </div>

              </div>
            </div>




          <div class="flex flex-auto text-center justify-center items-center text-xl font-bold pt-6">
            <span class="material-symbols-outlined">
              payments
            </span>
            <h1 class="pl-4">ตารางขอเงินคืน</h1>
          </div>

          <div class="flex flex-col p-5 sm:overflow-auto overflow-x-scroll">
            <table  class="table-auto w-full text-gray-800">
                <!-- <table datatable [dtOptions]="dtOptions" class="table-auto w-full text-gray-800"> -->
              <thead>
                <tr class="bg-gray-300 text-gray-600 uppercase text-md leading-normal">
                  <th class="py-3 px-4 text-left">วันที่/เวลา</th>
                  <th class="py-3 px-4 text-left">ชื่อ-นามสกุล</th>
                  <th class="py-3 px-4 text-left">หมายเลขบัญชี</th>
                  <th class="py-3 px-4 text-left">ธนาคาร</th>
                  <th class="py-3 px-4 text-right">จำนวนเงิน (บาท)</th>
                  <th class="py-3 px-4 text-center">ยืนยัน/ปฏิเสธ</th>
                </tr>
              </thead>
              <tbody class="text-md font-normal">
                <tr *ngFor="let request of refundRequests; index as i" class="hover:bg-gray-100">
                  <td class="py-3 px-4">{{ request.dateTime }}</td>
                  <td class="py-3 px-4">{{ request.nameSurname }}</td>
                  <td class="py-3 px-4">{{ request.accountNumber }}</td>
                  <td class="py-3 px-4">{{ request.bank }}</td>
                  <td class="py-3 px-4 text-right">{{ request.amount }}</td>
                  <td class="py-3 px-4 text-center">
                    <button (click)="confirm(i)" class="bg-blue-500 text-white px-4 py-1.5 rounded mr-2">ยืนยัน</button>
                    <button (click)="refund(i)" class="bg-red-500 text-white px-4 py-1.5 rounded">ปฏิเสธ</button>
                  </td>
                </tr>
            </tbody>
          </table>
          </div>
