<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-auto bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">กระเป๋าวอลเล็ท</div>
        <!-- Actions -->
        <div *ngIf="roleType == 'marketing'" class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Add product button -->
            <a (click)="New()" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">เติมเงินเข้ากระเป๋า</span>
            </a>

                        <!-- Add product button -->
                        <a (click)="New2()" class="ml-4" mat-flat-button [color]="'primary'">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">ประวัติการทำรายการ</span>
                        </a>

        </div>
    </div>

    <!-- search -->
    <!-- <div class="search-box relative flex flex-col flex-0 px-6 md:px-8 border-b mt-4">

    </div> -->

    <!-- Main -->
    <div class="flex flex-col flex-auto min-w-0 bg-gray-100 dark:bg-transparent">

      <div class="flex flex-col p-3 sm:p-10">
        <div class="overflow-auto bg-white shadow-md rounded-lg">
          <!-- Products list -->
          <div class=" text-center font-bold text-3xl p-8 sm:p-16 bg-gradient-to-b text-black rounded-t-lg">
            <h2>Top-up Summary</h2>
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
                <div
                    class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                    </svg>
                </div>
                <div>
                    <span class="block text-2xl font-bold">5,000 บาท</span>
                    <span class="block text-gray-500">ยอดขายเดือนมกราคม</span>
                </div>
            </div>
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
                <div
                    class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                    </svg>
                </div>
                <div>
                    <span class="block text-2xl font-bold">5,000 บาท</span>
                    <span class="block text-gray-500">ยอดขายเดือนมกราคม</span>
                </div>
            </div>
            <div class="flex items-center p-8 bg-white shadow rounded-lg">
                <div
                    class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6">
                    <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                    </svg>
                </div>
                <div>
                    <span class="block text-2xl font-bold">5,000 บาท</span>
                    <span class="block text-gray-500">ยอดขายเดือนมกราคม</span>
                </div>
            </div>

                      <div class="container mx-auto px-4 py-16">
                        <div class="flex flex-auto text-center justify-center items-center text-xl font-bold">
                          <h1>ยืนยันสถานะการชำระเงิน</h1>
                        </div>
                        <div class="flex flex-col flex-auto p-5 sm:overflow-auto overflow-x-scroll text-md">
                          <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full text-md text-left text-gray-500 dark:text-gray-400" style="width: 100%">
                            <thead>
                              <tr class="bg-gray-200 dark:bg-gray-700">
                                <th class="p-2">จัดการ</th>
                                <th class="p-2">ลำดับ</th>
                                <th class="p-2">ชื่อผู้รับเงิน</th>
                                <th class="p-2">ชื่อธนาคาร</th>
                                <th class="p-2">หมายเลขบัญชี</th>
                                <th class="p-2">จำนวนเงิน</th>
                                <th class="p-2">สถานะ</th>
                                <th class="p-2">วันที่สร้าง</th>
                              </tr>
                            </thead>
                            <tbody *ngIf="dataRow?.length != 0">
                              <tr *ngFor="let item of dataRow; let i = index" class="bg-white dark:bg-gray-800 dark:border-gray-700 text-md py-15">
                                <td class="p-2">
                                  <button mat-icon-button (click)="Edit(item.id)" title="แก้ไขข้อมูล">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                </td>
                                <td class="p-2">{{ pages.begin + (i + 1) }}</td>
                                <td class="p-2">{{ item.name }}</td>
                                <td class="p-2">{{ item.account_number }}</td>
                                <td class="p-2">{{ item.first_name }}</td>
                                <td class="p-2">{{ item.account_number }}</td>
                                <td class="p-2">
                                  <div *ngIf="item.status == 1">
                                    <span class="bg-green-100 text-green-800 text-md font-extrabold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">สำเร็จ</span>
                                  </div>
                                  <div *ngIf="item.status == 0">
                                    <span class="bg-red-100 text-red-800 text-md font-extrabold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">ไม่สำเร็จ</span>
                                  </div>
                                </td>
                                <td class="p-2">{{ item.created_at }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

        </div>
    </div>

</div>
