<div class="flex flex-auto text-center items-center justify-center">
<mat-form-field class="w-5/6 text-center" appearance="fill">
  <mat-label>วิธีการเติมเงิน</mat-label>
  <mat-select class="text-center" [formControl]="animalControl" required>
    <mat-option>กรุณาเลือก</mat-option>
    <mat-option *ngFor="let animal of animals" [value]="animal">
      {{animal.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="animalControl.hasError('required')">กรุณาเลือกช่องทางเติมเงิน</mat-error>
  <mat-hint>{{animalControl.value?.detail}}</mat-hint>
</mat-form-field>
</div>