<!-- <div class="flex flex-col flex-auto h-full bg-card dark:bg-default"> -->
<!-- Header -->
<!-- <div class="flex flex-0 items-center h-18 px-4 border-b bg-gray-50 dark:bg-transparent">
    <button mat-icon-button (click)="drawer.close()">
        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
    <div class="ml-2 text-lg font-medium">Order</div>
</div>

<div class=""> -->
<!-- Contact avatar & info -->
<!-- <div class="flex flex-col items-center">

        </div>

        <div class="max-w-xl max-h-xl mx-auto p-6 bg-white rounded-2xl shadow-md">
            <div class="flex justify-center gap-4 mb-4"> -->
<!-- <a class="text-blue-500 hover:text-blue-700">
                    <label class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl">
                        เมนูส่งสินค้า
                    </label>
                </a> -->
<!-- <a class="text-blue-500 hover:text-blue-700">
                    <input type="file" name="slip" id="slip" style="display: none;">
                    <label for="slip" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl">
                        เมนูแจ้งโอนสินค้า
                    </label>
                </a> -->
<!-- </div>
            <form class="mb-4">
                <label class="block mb-2 font-bold text-gray-700" for="name">
                    <b class="text-red-500">*</b>ชื่อ-นามสกุล:
                </label>
                <input class="w-full border border-gray-400 p-2 rounded-md mb-4" type="text" id="name" name="name"
                    required>
                <label class="block mb-2 font-bold text-gray-700" for="phone">
                    <b class="text-red-500">*</b>เบอร์ติดต่อ:
                </label>
                <input class="w-full border border-gray-400 p-2 rounded-md mb-4" type="text" id="phone" name="phone"
                    required>
                <label class="block mb-2 font-bold text-gray-700" for="address">
                    <b class="text-red-500">*</b>ที่อยู่:
                </label>
                <textarea class="w-full border border-gray-400 p-2 rounded-md mb-4" id="address"
                    name="address"></textarea>
                    <label class="block mb-2 font-bold text-gray-700" for="address">
                        <b class="text-red-500">*</b>ตำแหน่งของผู้รับ:
                    </label>
                    <textarea class="w-full border border-gray-400 p-2 rounded-md mb-4" id="address"
                        name="address"></textarea>

            </form>
            <div class="mb-4">
                <h1 class="font-bold text-xl mb-2 text-center">รายการสินค้า</h1>
                <ng-container *ngIf="item$ | async as items">
                    <div class="grid grid-cols-4 gap-4">
                        <div *ngFor="let item of items" class="cursor-pointer">
                            <img [src]="item.image" [alt]="item.name" srcset="" class="w-20 h-18">
                        </div>
                    </div>
                </ng-container>


                <ng-container>
                    <div class="mt-20">
                        <h1 class="font-extrabold text-2xl">รายละเอียดสินค้า</h1>
                         other detail -->
<!-- </div>
                    <div> -->
<!-- <label class="block mb-2 font-bold text-gray-700" for="weight">
                            <b class="text-red-500">*</b>น้ำหนักสินค้า:
                        </label>
                        <input class="w-full border border-gray-400 p-2 rounded-md mb-4" type="text" id="weight" name="weight" required>

                        <div class="grid grid-cols-2 gap-4">
                            <label class="block mb-2 font-bold text-gray-700" for="shippingCost">
                                <b class="text-red-500">*</b>ค่าจัดส่ง:
                            </label>
                            <input class="w-[90%] border border-gray-400 p-2 rounded-md mb-4" type="text" id="shippingCost" name="shippingCost" required>

                            <label class="block mb-2 font-bold text-gray-700" for="discount">
                                <b class="text-red-500">*</b>ส่วนลด:
                            </label>
                            <input class="w-[90%] border border-gray-400 p-2 rounded-md mb-4" type="text" id="discount" name="discount" required>
                        </div>
                        </div>
                </ng-container> -->
<!-- <ng-container *ngIf="item$ | async as items">
                    <div class="grid grid-cols-4 gap-4">
                      <div *ngFor="let item of items" class="cursor-pointer">
                        <img [src]="item.image" [alt]="item.name" srcset="" class="w-20 h-20">
                        <h3>{{ item.name }}</h3>
                        <p>{{ item.description }}</p>
                        <p>Price: {{ item.price }}</p>
                      </div>
                    </div>
                  </ng-container> -->

<!-- <img class="w-full mb-4" src="assets/icons/14575773_22233700_600.jpg"> -->
<!-- <h1 class="font-extrabold text-2xl mb-2">ยอดรวมสุทธิ</h1> -->
<!-- <ul class="list-disc pl-4 mb-4">
                    <li class="text-lg font-semibold text-gray-700">ค่าสินค้า:
                        <input type="text" value="0">
                    </li>
                    <li class="text-lg font-semibold text-gray-700">ค่าส่ง:
                        <input type="text" value="0">
                    </li>
                </ul> -->

<!-- <div class="mb-4">
                    <label class="flex items-center mb-2">
                        <input class="mr-2 leading-tight" type="checkbox">
                        <h1 class="font-bold text-xl">ชำระค่าขนส่ง</h1>
                    </label>
                    <label class="flex items-center">
                        <input class="mr-2 leading-tight" type="checkbox">
                        <h1 class="font-bold text-xl">ชำระค่า COD</h1>
                    </label>
                </div> -->
<!-- <div class="flex columns-2 space-x-2">
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 rounded-3xl w-[80%]">
                    ยกเลิก
                </button>
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 rounded-3xl w-[80%]">
                    ยืนยัน
                </button>
            </div>
            </div>
        </div> -->
<!-- <div class="flex w-full py-10 px-7">

            <div class="flex items-cente w-1/3 ">
                <a href="customer/new-customer" class="ml-4" mat-icon-button [color]="'primary'">
                    <span class="ml-2 mr-1">เลือกสินค้า</span>
                </a>
            </div>
            <div class="flex items-center w-1/3">
                <a href="customer/new-customer" class="ml-4" mat-icon-button [color]="'primary'">
                    <span class="ml-2 mr-1">แจ้งโอนเงิน</span>
                </a>
            </div>

            <div class="flex shrink-0 items-center w-1/3">
                <a href="customer/new-customer" class="ml-4" mat-stroked-button [color]="'primary'">
                    <span class="ml-2 mr-1">อัพโหลดสลิป</span>
                </a>
            </div>
        </div> -->
<!-- <div class="mt-4 text-lg font-medium">{{chat.contact.name}}</div>
        <div class="mt-0.5 text-md text-secondary">{{chat.contact.about}}</div> -->

<!-- </div> -->
<!-- <div class="flex items-center justify-between  font-semibold border-b border-gray-100 mb-4"></div>

    <div class=" px-7"> -->
<!-- Media -->
<!-- <div class="text-lg font-medium">รายละเอียดผู้ซื้อ</div> -->


<!-- <div class="flex w-full mt-4">
            <ng-container *ngIf="chat.contact.name.length">
                <div class="font-medium text-secondary w-1/2">ชื่อ-สกุล</div>
                <div class="w-1/2">{{chat.contact.name}}</div>
            </ng-container>
        </div>
        <div class="flex w-full mt-4">
            <ng-container *ngIf="chat.contact.details.phoneNumbers.length">
                <div class="ont-medium text-secondary w-1/2">Phone number</div>
                <div class="w-1/2">{{chat.contact.details.phoneNumbers[0].phoneNumber}}</div>
            </ng-container>
        </div>
        <div class="flex w-full mt-4">
            <ng-container *ngIf="chat.contact.details.address">
                <div class="font-medium text-secondary w-1/2">Address</div>
                <div class="w-1/2">{{chat.contact.details.address}}</div>
            </ng-container>
        </div>

        <div class="flex w-full mt-4">
            <ng-container *ngIf="chat.contact.details.emails.length">
                <div class="font-medium text-secondary w-1/2">Email</div>
                <div class="w-1/2">{{chat.contact.details.emails[0].email}}</div>
            </ng-container>
        </div> -->
<!-- <div class="flex items-center justify-between  font-semibold border-b border-gray-100 mb-4 mt-4"></div>
        <div class="flex  items-center mt-4">
            <a href="customer/new-customer" class="ml-6  mr-6 w-full" mat-flat-button [color]="'primary'">
                <span class="ml-2 mr-1">เลือกสินค้า</span>
            </a>
        </div> -->




<!-- <div class="grid grid-cols-2 gap-1 mt-2 "> -->
<!-- <ng-container *ngFor="let media of chat.contact.attachments.media">
                <img class="h-40 w-40 rounded object-cover " [src]="media" />
            </ng-container> -->
<!-- </div> -->
<!-- Details -->


<!-- <ng-container *ngIf="chat.contact.details.phoneNumbers.length">
                <div>
                    <div class="font-medium text-secondary">Phone number</div>
                    <div class="">{{chat.contact.details.phoneNumbers[0].phoneNumber}}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="chat.contact.details.title">
                <div>
                    <div class="font-medium text-secondary">Title</div>
                    <div class="">{{chat.contact.details.title}}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="chat.contact.details.company">
                <div>
                    <div class="font-medium text-secondary">Company</div>
                    <div class="">{{chat.contact.details.company}}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="chat.contact.details.birthday">
                <div>
                    <div class="font-medium text-secondary">Birthday</div>
                    <div class="">{{chat.contact.details.birthday}}</div>
                </div>
            </ng-container>
            <ng-container *ngIf="chat.contact.details.address">
                <div>
                    <div class="font-medium text-secondary">Address</div>
                    <div class="">{{chat.contact.details.address}}</div>
                </div>
            </ng-container> -->
<!-- </div> -->

<!-- </div> -->


<mat-stepper #stepper>
    <mat-step label="เปิดบิล">
        <div class="flex flex-col flex-auto h-full bg-card dark:bg-default">
            <!-- Header -->
            <div class="flex flex-0 items-center h-18 px-4 border-b bg-gray-50 dark:bg-transparent">
                <button class="p-2" (click)="drawer.close()">
                    <svg class="w-6 h-6 text-gray-700 dark:text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7">
                        </path>
                    </svg>
                </button>
                <div class="ml-2 text-lg font-medium"></div>
            </div>

            <div class="">
                <!-- Contact avatar & info -->
                <div class="flex flex-col items-center">

                </div>

                <div class="max-w-xl max-h-xl mx-auto p-6 bg-white rounded-2xl shadow-md">
                    <div class="flex justify-center gap-4 mb-4">

                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>กรอกเลขคำสั่งซื้อ</mat-label>
                            <input matInput [formControl]="searchOrderField" (keyup.enter)="searchOrder()">
                            <button mat-icon-button matSuffix (click)="searchOrder()">
                                <mat-icon class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:magnifying-glass-circle'"></mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <form class="mb-4" [formGroup]="formData">

                        <label class="block mb-2 font-bold text-gray-700" for="name">
                            <b class="text-red-500">*</b>ชื่อ-นามสกุล:
                        </label>

                        <input [formControlName]="'customerName'"
                            class="w-full border border-gray-400 p-2 rounded-md mb-4" type="text" id="name" name="name"
                            required>
                        <label class="block mb-2 font-bold text-gray-700" for="phone">
                            <b class="text-red-500">*</b>เบอร์ติดต่อ:
                        </label>
                        <input [formControlName]="'phone'" class="w-full border border-gray-400 p-2 rounded-md mb-4"
                            type="text" id="phone" name="phone" required>
                        <label class="block mb-2 font-bold text-gray-700" for="address">
                            <b class="text-red-500">*</b>ที่อยู่:
                        </label>
                        <textarea [formControlName]="'address'"
                            class="w-full border border-gray-400 p-2 rounded-md mb-4" id="address"
                            name="address"></textarea>
                        <!-- <label class="block mb-2 font-bold text-gray-700" for="receiver-position">
                            <b class="text-red-500">*</b>ตำแหน่งของผู้รับ:
                        </label>
                        <textarea class="w-full border border-gray-400 p-2 rounded-md mb-4" id="receiver-position"
                            name="receiver-position"></textarea> -->
                    </form>
                    <div class="mb-4">
                        <!-- <h1 class="font-bold text-xl mb-2 text-center">รายการสินค้า</h1>
                        <ng-container *ngIf="item$ | async as items">
                            <div class="grid grid-cols-4 gap-4">
                                <div *ngFor="let item of items" class="cursor-pointer">
                                    <img [src]="item.image" [alt]="item.name" srcset="" class="w-20 h-18">
                                </div>
                            </div>
                        </ng-container> -->

                        <button (click)="New2()"
                            class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 rounded-3xl w-[100%] mb-5">
                            เลือกสินค้า
                        </button>

                        <div class="flex">
                            <fuse-card *ngIf="newSelectProducts.length"
                                class="flex flex-col max-w-80 w-full px-8 pt-6 pb-4 filter-list">
                                <div *ngFor="let newSelectProduct of newSelectProducts" class="flex flex-col mt-5">
                                    <div class="flex items-center">
                                        <img class="w-14 h-14 mr-4 rounded-full" [src]="newSelectProduct.image"
                                            alt="Card cover image">
                                        <div class="flex flex-col min-w-0">
                                            <div class="font-medium leading-none">{{newSelectProduct.name}}</div>
                                            <div class="text-md leading-none text-secondary mt-1">
                                                {{newSelectProduct.quantity}} ชิ้น</div>
                                        </div>
                                    </div>
                                </div>
                            </fuse-card>
                        </div>

                        <ng-container>

                            <!-- <input type="file" (change)="onFileSelected($event)">
<div *ngIf="selectedImage">
  <img [src]="selectedImage" alt="Preview">
  <button (click)="selectProduct()">Select Product</button>
</div> -->

                            <div *ngIf="showProductList">
                                <div class="mt-20">
                                    <h1 class="font-extrabold text-2xl mb-3">รายละเอียดสินค้า</h1>
                                    <!-- Other product details here -->
                                </div>
                                <div>
                                    <h3>Product List</h3>
                                    <ul>
                                        <li *ngFor="let product of productList">{{ product }}</li>
                                    </ul>
                                </div>
                            </div>

                            <ng-template #productDialog>
                                <h3>Select a Product</h3>
                                <ul>
                                    <li *ngFor="let product of products" (click)="onProductSelected(product)">{{ product
                                        }}</li>
                                </ul>
                            </ng-template>


                            <label class="block mb-2 font-bold text-gray-700 mt-10" for="weight">
                                <b class="text-red-500">*</b>น้ำหนักสินค้า:
                            </label>

                            <input class="w-full border border-gray-400 p-2 rounded-md mb-4" type="text" id="weight"
                                name="weight">

                            <div class="grid grid-cols-2 gap-4">
                                <label class="block mb-2 font-bold text-gray-700" for="shippingCost">
                                    <b class="text-red-500">*</b>ค่าจัดส่ง:
                                </label>

                                <input class="w-[90%] border border-gray-400 p-2 rounded-md mb-4" type="text"
                                    id="shippingCost" name="shippingCost" required>

                                <label class="block mb-2 font-bold text-gray-700" for="discount">
                                    <b class="text-red-500">*</b>ส่วนลด:
                                </label>
                                <input class="w-[90%] border border-gray-400 p-2 rounded-md mb-4" type="text"
                                    id="discount" name="discount" required>
                            </div>
                        </ng-container>

                        <h1 class="font-extrabold text-2xl mb-2">ยอดรวมสุทธิ</h1>
                        <div class="flex columns-2 space-x-2">
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 rounded-3xl w-[80%]">
                                ยกเลิก
                            </button>
                            <button
                                class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 rounded-3xl w-[80%]"
                                matStepperNext>
                                ยืนยัน
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-2 gap-1 mt-2">

            </div>
        </div>

    </mat-step>

    <!-- แจ้งโอนเงิน -->
    <mat-step label="แจ้งชำระเงิน">
        <!-- <div class="flex justify-center">
            <mat-form-field class="w-full text-center">
                <mat-label class="text-center justify-center">วิธีการชำระเงิน</mat-label>
                <mat-select class="text-center" [(value)]="selectedBank">
                    <mat-option class="text-center" *ngFor="let bank of banks" [value]="bank">{{ bank }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
        <div>
            <h1 class="text-2xl font-bold mb-4 text-blue-600">แนบหลักฐานการโอนเงิน</h1>
            <input type="file" accept="image/jpeg, image/png" multiple (change)="handleFileInput($event)" class="mb-4">
            <div class="flex flex-wrap">
                <div *ngFor="let image of images" class="w-1/3 p-2">
                    <img [src]="image.url" alt="Uploaded Image" class="w-full h-auto">
                </div>
            </div>
        </div>

        <div>
            <div>
                <label for="optional">หรือ แนบลิ้งก์ใบเสร็จ (Optional)</label>
                <input type="text" id="optional" placeholder="วาง LINK ที่นี่" required
                    class="w-full border border-red-400 p-2 rounded-md mb-4">
            </div>
            <div>
                <label for="optional"><b class="text-red-600">*</b>จำนวนเงินที่โอน</label>
                <input class="w-full border border-red-400 p-2 rounded-md mb-4" type="text" id="order_id"
                    name="order_id" required>
            </div>
            <div>
                <label for="optional"><b class="text-red-600">*</b>วันที่โอน</label>
                <input class="w-full border border-red-400 p-2 rounded-md mb-4" type="text" id="order_id"
                    name="order_id" required>
            </div>
            <div>
                <label for="optional"><b class="text-red-600">*</b>เวลาที่โอน</label>
                <input class="w-full border border-red-400 p-2 rounded-md mb-4" type="text" id="order_id"
                    name="order_id" required>
            </div>
            <div>
                <label for="receive-money">ผู้รับเงิน</label>
                <input class="w-full border border-red-400 p-2 rounded-md mb-4" type="text" id="receive-money"
                    placeholder="ระบุผู้รับเงิน">
            </div>
        </div>
        <div class="flex columns-2 space-x-2">
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-3 rounded-3xl w-[80%]">
                ยกเลิก
            </button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 rounded-3xl w-[80%]"
                (click)="confirmPayment(stepper)">
                ยืนยัน
            </button>
        </div>
    </mat-step>


    <!-- ประวัติการซื้อ -->
    <mat-step label="ประวัติการสั่งซื้อ">
        <div class="justify-center text-center text-2xl font-semibold text-gold">
            <h1>จำนวนการสั่งซื้อ 2 ครั้ง</h1>
            <h1>มูลค่าการสั่งซื้อ 277 บาท</h1>
        </div>
        <div class="flex flex-col mt-8 space-y-6">
            <p class="bg-green-500 px-4 py-3 rounded text-black font-bold">สำเร็จ 0 ครั้ง</p>
            <p class="bg-red-500 px-4 py-3 rounded text-black font-bold">มีปัญหา 0 ครั้ง</p>
            <p class="bg-blue-500 px-4 py-3 rounded text-black font-bold">ตีกลับ 0 ครั้ง</p>
        </div>

        <ng-container class="w-full text-center font-medium">
            <h1 class="text-gold">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</h1>
            <div>
                <h1 class="text-black font-bold text-2xl">ข้อมูลการสั่งซื้อ</h1>
            </div>
            <div class="columns-2 ml-10 text-xl">
                <p class="text-gray-300">29-05-2023 18:14 น.</p>
                <p class="text-gold">คำสั่งซื้อสำเร็จ</p>
            </div>
            <div class="columns-2 font-medium ml-10 text-xl">
                <p class="text-gold">การชำระ</p>
                <p class="text-gold">โอนเงิน (BANK)</p>
            </div>
            <div class="columns-2 font-medium ml-10 text-xl">
                <p class="text-gold">สินค้าทั้งหมด</p>
                <p class="text-gold">1 ชิ้น</p>
            </div>
            <div class="columns-2 font-medium ml-10 text-xl">
                <ul>
                    <li class="text-gold">
                        tea
                    </li>
                    <li class="text-gold">
                        x 1
                    </li>
                </ul>
            </div>

            <div class="columns-2 font-medium ml-10 text-xl">
                <p class="text-gold">รวมราคา</p>
                <p class="text-gold">177 บาท</p>
            </div>
        </ng-container>

    </mat-step>

</mat-stepper>
