<mat-stepper #stepper (selectionChange)="onStepChange($event)">
    <mat-step class="mx-auto flex flex-initial" [stepControl]="firstFormGroup" errorMessage="ระบุจำนวนเงิน.">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>กรอกจำนวนเงิน</ng-template>
            <mat-form-field class="items-center justify-center text-center w-full" appearance="fill">
                <mat-label>จำนวนเงิน</mat-label>
                <input matInput placeholder="กรุณาระบุจำนวนเงิน" formControlName="amount" required>
            </mat-form-field>
            <div class="text-center">
                <p class="text-red-500 pb-6">**เติมเงินขั้นต่ำตั้งแต่ 100 บาทขึ้นไป**</p>
                <button mat-raised-button (click)="createTransaction(stepper)">ถัดไป</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="กรุณากรอกรายละเอียด">
        <div class="flex items-center justify-center text-center">
        </div>
        <!-- Two select -->
        <div class="flex flex-col text-center items-center justify-center">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>รายละเอียด</ng-template>
                <div class="text-lg space-y-12 font-bold">
                    <h1>ชื่อบัญชีบริษัท</h1>
                    <h2>{{ transaction?.name }}</h2>
                </div>
                <div class="space-y-4">
                    <h1>จำนวนเงิน</h1>
                    <h2>{{ transaction?.amount | currency:' ' }}</h2>
                    <span></span>
                    <span></span>
                    <img class="w-64 h-64 justify-center items-center mx-auto"
                        src="assets/images/QR_code_for_mobile_English_Wikipedia.svg.png">
                </div>
            </form>
        </div>
        <!-- <div class="items-center text-center justify-center p-18" >
      <button class="px-6 mx-auto mat-primary" mat-flat-button (click)="New()" mat-raised-button matStepperNext>ถัดไป</button>
      </div> -->
        <mat-step>
            <ng-template matStepLabel>เสร็จสิ้น</ng-template>
            <div class="flex pt-12">
                <p class="flex flex-auto text-center items-center justify-center text-xl">ทำรายการสำเร็จ</p>
            </div>
            <div class="flex flex-auto text-center items-center justify-center pt-12">
                <button mat-raised-button matStepperPrevious>ปิด</button>
            </div>
        </mat-step>
    </mat-step>
