<!-- <mat-stepper #stepper (selectionChange)="onStepChange($event)">
    <mat-step class="mx-auto flex flex-initial" [stepControl]="firstFormGroup" errorMessage="ระบุจำนวนเงิน.">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>กรอกจำนวนเงิน</ng-template>
            <mat-form-field class="items-center justify-center text-center w-full" appearance="fill">
                <mat-label>จำนวนเงิน</mat-label>
                <input matInput placeholder="กรุณาระบุจำนวนเงิน" formControlName="amount" required>
            </mat-form-field>
            <div class="text-center">
                <p class="text-red-500 pb-6">**เติมเงินขั้นต่ำตั้งแต่ 100 บาทขึ้นไป**</p>
                <button mat-raised-button (click)="createTransaction(stepper)">ถัดไป</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="กรุณากรอกรายละเอียด">
        <div class="flex items-center justify-center text-center">
        </div>
        
        <div class="flex flex-col text-center items-center justify-center">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>รายละเอียด</ng-template>
                <div class="text-lg space-y-12 font-bold">
                    <h1>ชื่อบัญชีบริษัท</h1>
                    <h2>{{ transaction?.name }}</h2>
                </div>
                <div class="space-y-4">
                    <h1>จำนวนเงิน</h1>
                    <h2>{{ transaction?.amount | currency:' ' }}</h2>
                    <span></span>
                    <span></span>
                    <img class="w-64 h-64 justify-center items-center mx-auto"
                        src="assets/images/QR_code_for_mobile_English_Wikipedia.svg.png">
                </div>
            </form>
        </div>
        
        <mat-step>
            <ng-template matStepLabel>เสร็จสิ้น</ng-template>
            <div class="flex pt-12">
                <p class="flex flex-auto text-center items-center justify-center text-xl">ทำรายการสำเร็จ</p>
            </div>
            <div class="flex flex-auto text-center items-center justify-center pt-12">
                <button mat-raised-button matStepperPrevious>ปิด</button>
            </div>
        </mat-step>
    </mat-step> -->
    <mat-stepper #stepper>
        <mat-step class="mx-auto flex flex-initial" [stepControl]="firstFormGroup" errorMessage="ระบุจำนวนเงิน."
          [completed]="false">
          <div class="grid grid-cols-5 gap-4 mb-20 mt-10">
            <button class="mt-5" mat-raised-button (click)="button50k()" style="font-size: 20px;">
              10.000₭
            </button>
            <button class="mt-5" mat-raised-button (click)="button100k()" style="font-size: 20px;">
              20.000₭
            </button>
            <button class="mt-5" mat-raised-button (click)="button300k()" style="font-size: 20px;">
              50.000₭
            </button>
            <button class="mt-5" mat-raised-button (click)="button500k()" style="font-size: 20px;">
              100.000₭
            </button>
            <button class="mt-5" mat-raised-button (click)="button1M()" style="font-size: 20px;">
              500.000₭
            </button>
          </div>
          <form [formGroup]="firstFormGroup" style="font-family: 'Prompt', sans-serif;">
            <ng-template matStepLabel>
              <div style="font-size: 20px;font-family: 'Prompt', sans-serif;">ໃສ່ຈໍານວນ</div>
            </ng-template>
      
            <mat-form-field class="items-center justify-center text-center w-5/6" style="font-size: 20px;" appearance="fill">
              <mat-label>
                ຈໍາ​ນວນເງິນ</mat-label>
      
              <input matInput placeholder="กรุณาระบุจำนวนเงิน" formControlName="wallet"
                [value]="this.firstFormGroup.value.wallet | number" required class="h-30" style="font-size: 60px;">
            </mat-form-field>
      
            <div class="text-center ">
              <p class="text-red-500 pb-6" style="font-size: 20px;">**ຕື່ມເງິນຂັ້ນຕ່ໍາ 10.000 ₭**</p>
      
              <button mat-raised-button (click)="addMoney(stepper)">ຕໍ່ໄປ</button>
            </div>
          </form>
      
      
        </mat-step>
        
        <mat-step [stepControl]="secondFormGroup" errorMessage="กรุณากรอกรายละเอียด">
          <div class="flex items-center justify-center text-center ">
          </div>
          <!-- Two select -->
          <div class="flex flex-col text-center items-center justify-center" style="font-family: 'Prompt', sans-serif;">
            <form [formGroup]="secondFormGroup" class="flex w-full">
              <ng-template matStepLabel>
                <div style="font-size: 20px;font-family: 'Prompt', sans-serif;">ການຈ່າຍເງິນ</div>
              </ng-template>
      
      
              <!-- <div>Logo</div> -->
              <div class="flex flex-auto flex-wrap flex-row items-center">
                
                <div class="flex flex-col w-1/2 justify-center items-center  rounded-3xl h-full " style="position:relative;">
                  <div class="text-red-500 text-2xl pb-20 p-5">
                    <h1>ເວລາການຈ່າຍເງິນ</h1>
                    <div *ngIf="countdownValue > 0">
                      <h2>{{getFormattedTime()}}</h2>
                    </div>
                    <div *ngIf="countdownValue <= 0">
                      <h2>Countdown Finished!</h2>
                    </div>
                  </div>
                  <div style="
                  width: 250px;
                  /* background-color: red; */
                  height: 60px;
                  position: absolute;
                  z-index: 0;
                  top: 100px;
                  border-radius: 25px 25px 0 0;
                  box-shadow: 0px 2px 10px #c9c9c9ad;
              ">
                    
                  </div>
                  <div class="flex justify-center items-center  " style="position:absolute;top:100px">
                    <img src="assets/images/pap/616210.jpg" class=" w-60 rounded-3xl">
                  </div>
                  <div class="bg-black w-[80%] rounded-2xl">
                    
                    <div class="space-y-4 justify-center items-center pt-5 pb-5">
      
                      <!-- <h2>จำนวนเงิน {{this.firstFormGroup.value.wallet}} กีบ</h2> -->
                      <span></span>
                      <span></span>
      
                    </div>
                    
                    <div class="flex justify-center  mt-10 mb-10">
                      <img src="assets/images/logo/qrCode.png" class="w-50 h-50 m-5 ">
                      <!-- <qrcode class="flex justify-center borderPa items-center" [qrdata]="QrCode" [width]="256"
                      [errorCorrectionLevel]="'M'">
                    </qrcode> -->
                    </div>
      
                  </div>
                </div>
               
                <div class="flex flex-col w-1/2">
      
                  <div class="titel-wallet">
                    <span>
                      ຊື່ທະນາຄານ: ທະນາຄານຮ່ວມພັດທະນາ</span>
                  </div>
                  <div class="titel-wallet"><span>ຊື່ທະນາຄານ: 124057548</span></div>
      
                  <div><span>
                      ຈໍາ​ນວນເງິນ: {{this.firstFormGroup.value.wallet}}</span></div>
                  
                  <div class="flex flex-col w-full lg:w-4/4 sm:pl-8 p-5 mt-7">
      
                    <div class="flex ">
                      <div class="flex justify-center items-center w-full pb-5">
                        <ngx-dropzone style="width: 100%; height: 250px;" (change)="onSelect($event)">
                          <ngx-dropzone-label>ໃບບິນຕື່ມເງິນ</ngx-dropzone-label>
                          <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" [file]="f"
                            (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                          </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                      </div>
                    </div>
                  </div>
                  <div class="flex items-center justify-end">
                    <button mat-raised-button>ຕໍ່ໄປ</button>
      
                  </div>
                </div>
                <div>
      
                </div>
      
              </div>
              <!-- Upload form -->
              <!-- <div class="w-full p-8">
                <p class="font-bold text-lg text-center">อัพโหลดรูป
                <p>
                <div class="flex mt-2 px-5 space-y-8 items-center justify-center text-center">
                  
                  <div class="flex justify-start items-start w-full">
                    <ngx-dropzone style="width: 220px; height: 180px;" (change)="onSelect($event)">
                      
                      <ngx-dropzone-label>อัพโหลดหลักฐาน</ngx-dropzone-label>
                      <ngx-dropzone-image-preview *ngFor="let f of files" [removable]="true" [file]="f"
                        (removed)="onRemove(f)">
                        
                      </ngx-dropzone-image-preview>
                    </ngx-dropzone>
                    
                  </div>
                </div>
              </div> -->
            </form>
          </div>
          <!-- <div class="items-center text-center justify-center p-18">
            <button class="px-6 mx-auto mat-primary" mat-flat-button (click)="New()" mat-raised-button matStepperNext
              style="font-family: 'Prompt', sans-serif;">ถัดไป</button>
          </div> -->
          <mat-step>
            <ng-template matStepLabel>
              <div style="font-size: 20px;font-family: 'Prompt', sans-serif;">
                ສໍາເລັດ</div>
            </ng-template>
            <div class="flex flex-col pt-12">
              <div>
                <mat-icon svgIcon="heroicons_outline:check-circle" style="width: 200px;height: 200px;color: green;">
                </mat-icon>
              </div>
              <div>
                <p class="flex flex-auto text-center items-center justify-center "
                  style="font-family: 'Prompt', sans-serif;color: green;font-size: 30px;">ທຸລະກໍາສົບຜົນສໍາເລັດ</p>
              </div>
            </div>
            <div class="flex flex-auto text-center items-center justify-center pt-12">
              <button mat-raised-button matStepperPrevious style="font-family: 'Prompt', sans-serif;">ປິດ</button>
            </div>
      
          </mat-step>
        </mat-step>
