<div class="flex flex-col flex-auto bg-card dark:bg-transparent ">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate text-center">
                    เลือก เพจร้านค้า
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-col flex-auto min-w-0 bg-gray-100 dark:bg-transparent">

        <div class="flex flex-col p-3 sm:p-10">
            <div class="overflow-auto  bg-white shadow sm:rounded-lg">
                <!-- Products list -->

                <div class="flex flex-col flex-auto p-5 sm:overflow-auto overflow-x-scroll">
                    <table
                        class="table row-border hover w-full text-lg text-left text-gray-500 dark:text-gray-400"
                        style="width: 100%">
                        <thead>
                            <tr>
                                <!-- <th>ลำดับ</th> -->
                                <th class="w-1/6 text-center">เพจ</th>
                                <th class="w-1/3"></th>
                                <th class="w-1/3 text-center">จัดการ</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="userData?.data.length != 0">
                            <tr *ngFor="let item of userData.data; let i = index"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-md py-15">
                                <!-- <td style="min-width: 80px;"> {{item.id}}</td> -->
                                <td> <div class="flex justify-center ">
                                <img src="{{item.picture.data.url}} " class="h-20 w-20 ">
                                </div>
                                 </td>
                                 <td>
                                <div>รหัสเพจ : {{item.id}}</div>
                                <div>ชื่อเพจ : {{item.name}}</div>
                                </td>
                                <td>
                                    <div class="flex justify-center ">
                                    <button mat-flat-button (click)="live(item)" class="px-6 ml-3 mat-primary">จัดการไลฟ์</button>
                                    <button mat-flat-button (click)="live2(item.id)" class="px-6 ml-3 mat-primary">จัดการแชท</button>
                                </div>
                                </td>
                                <!-- <td style="min-width: 80px;" *ngIf="item.image === null || ''"> </td>
                                <td style="min-width: 80px;" *ngIf="item.image !== null || ''"><img src="{{item.image}}"
                                        class="h-10 w-10"> </td>
                                <td style="min-width: 150px;">{{ item.user_create ? item.user_create.first_name : 'No data' }} {{ item.user_create ?
                                    item.user_create.last_name: '' }}
                                </td> -->

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
