<div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-1 sm:pb-4 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
        <!-- Title -->
        <div class="mt-2">
            <h1 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                เพิ่มสถานที่ใหม่
            </h1>
        </div>
    </div>
</div>
<div class="flex-auto p-3 sm:p-2">
    <form [formGroup]="formData">
        <div class="flex mt-4">
            <label for="name"
                class="text-gray-800 text-lg font-bold leading-tight tracking-normal w-1/3 mt-4">ชื่อสถานที่</label>
            <input id="name"
                class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-yellow-600 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
                placeholder="กรุณาระบุชื่อสถานที่" formControlName="name" />
        </div>
        <div class="flex mt-4">
            <label for="code"
                class="text-gray-800 text-lg font-bold leading-tight tracking-normal w-1/3 mt-4">รหัสสถานที่</label>
            <input id="name"
                class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-yellow-600 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border"
                placeholder="กรุณาระบุรหัสสถานที่" formControlName="code" />
        </div>
        <div class="flex mt-4">
            <mat-label class="text-gray-800 text-lg font-bold leading-tight tracking-normal w-1/3 mt-4">คลังสินค้า
            </mat-label>
            <mat-form-field class="w-full pr-2">
                <mat-select [formControlName]="'warehouse_id'">
                    <mat-option [value]="''">
                        กรุณาเลือกคลังสินค้า
                    </mat-option>
                    <mat-option *ngFor="let warehouse of warehouseData" [value]="warehouse.id">
                        {{warehouse.name}} [{{warehouse.code}}]
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex items-center justify-end w-full border-t px-8 py-4 mt-4">
            <div class="flex items-center justify-end">
                <a class="ml-4" mat-flat-button (click)="onClose()">
                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                    ยกเลิก
                </a>
                <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="New()">
                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div>
    </form>
</div>
