<!--<h1 class="flex text-center items-center justify-center text-xl p-6 font-bold animate-pulse">Live Steam</h1>-->
<!--<img class="w-24 h-24 mx-auto flex flex-col items-center text-center" src="assets/images/69428-live-webinar-animation-unscreen.gif" alt="stream">
<!--<div class="m-20 w-full pr-30 h-96 justify-start">-->
<!--<img class="p-6 flex-col w-full h-1/6" src="assets/images/wp2757885-wallpaper-gif.gif" alt="live" style="width: 100%; height: 100%;">
<!--<img class="p-6 flex-col" src="assets/images/jamiewinsoscar.gif" alt="live" style="width: 60%;">
<img class="p-6 flex-col" src="assets/images/giphy.gif" alt="live" style="width: 60%;">-->
<!--</div>-->

<!--<div class="video">
	<video controls (click)="toggleVideo()" #videoPlayer>
		<source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
		Browser not supported
	</video>
</div>-->

<div class="grid grid-cols-3 gap-8 w-35 h-50 my-30 mr-20">
	<div class="flex flex-col items-center justify-center">
		<iframe width="215" height="215" src="https://www.youtube.com/embed/6OVuyzr6rWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		<button class="mt-4 text-sm font-medium text-gray-600 border border-gray-600 rounded-md py-1 px-2 hover:text-gray-900 hover:border-gray-900">
			<a href="https://youtu.be/6OVuyzr6rWE" target="_blank" rel="noopener">FULL</a>
		</button>
	</div>
	<div class="flex flex-col items-center justify-center">
		<iframe width="215" height="215" src="https://www.youtube.com/embed/6OVuyzr6rWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		<button class="mt-4 text-sm font-medium text-gray-600 border border-gray-600 rounded-md py-1 px-2 hover:text-gray-900 hover:border-gray-900">
			<a href="https://youtu.be/6OVuyzr6rWE" target="_blank" rel="noopener">FULL</a>
		</button>
	</div>
	<div class="flex flex-col items-center justify-center">
		<iframe width="215" height="215" src="https://www.youtube.com/embed/6OVuyzr6rWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		<button class="mt-4 text-sm font-medium text-gray-600 border border-gray-600 rounded-md py-1 px-2 hover:text-gray-900 hover:border-gray-900">
			<a href="https://youtu.be/6OVuyzr6rWE" target="_blank" rel="noopener">FULL</a>
		</button>
	</div>
</div>


	