<!-- <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-1 sm:pb-4 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
        <div class="mt-2">
            <h1 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate text-center">
                เลือกวิธีการชำระเงิน
            </h1>
        </div>
    </div>
</div>
<app-mat-topup (newType) = "newType = $event"></app-mat-topup>
<app-typemoney *ngIf="newType == 'TRANSFER'"></app-typemoney>
<app-typemoneybank *ngIf="newType == 'QRCODE'"></app-typemoneybank> -->
<!--<div class="flex items-center justify-end w-full border-t px-8 py-4 mt-4">
            <div class="flex items-center justify-end">
                <a class="ml-4" mat-flat-button (click)="onClose()">
                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                    ยกเลิก
                </a>
                <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="New()">
                    <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div> -->

        <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-1 sm:pb-4 sm:px-10 border-b bg-card dark:bg-transparent" style="position:relative ;">
        <button mat-dialog-close style="font-size: 30px; 
        position: absolute;
        top: 0px;
        right: 30px;">x</button>
            <div class="flex-1 min-w-0">
                <!-- Title -->
                <div class="mt-2">
                    <div class="flex justify-center items-center ">
                    <h1 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate text-center">
                        ການຈ່າຍເງິນ
                    </h1>
                    
                </div>
                    
                </div>
                
            </div>
        </div>
        
        <div class="items-center text-center justify-center">
        <!-- <app-mat-topup (newType) = "newType = $event"></app-mat-topup> -->
        <!-- <app-typemoney *ngIf="newType == 'TRANSFER'"></app-typemoney> -->
        <app-typemoneybank ></app-typemoneybank>
        </div>