<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <div class="card1">
        <b style="font-size: 18px;">บริษัท จี โกลบอล ริช จำกัด<br /></b>
        <h2 style="font-size: 18px;"><u>สลิปเงินเดือนพนักงาน</u></h2>
    </div>


    <div class="container mt-5">
        <div class="card2">
            <b style="font-size: 16px;"> ข้อมูลพนักงาน<br /> </b>
            ขื่อ-สกุล :  Name Mockup <br />
            ตำแหน่งงาน :  Sale <br />
            อีเมลล์ :  Email <br />
            สาขา :  เพชรบูรณ์ <br />

        </div>
        <div class="card2">
            <br />
            ประจำเดือน : 1/2566 <br />
            พิมพ์สลิปวันที่ :  Date Now  <br />
        </div>
    </div>

    
    <div class="flex flex-auto overflow-hidden">
        
        <div class="flex flex-col flex-auto p-5 overflow-hidden sm:overflow-y-auto">
            <table class="border-collapse border border-slate-400 w-full">
                <thead>
                    <tr class="text-center">
                        <th class="border border-slate-300 text-center">ลำดับ</th>
                        <th class="border border-slate-300 text-center">รายการ</th>
                        <th class="border border-slate-300 text-center">รายได้</th>
                        <th class="border border-slate-300 text-center">รายการหัก</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td class="border border-slate-300 text-center">1</td>
                        <td class="border border-slate-300 px-2">เงินเดือน</td>
                        <td class="border border-slate-300 text-center">20000</td>
                        <td class="border border-slate-300 text-center">0</td>
                    </tr>
                    <tr >
                        <td class="border border-slate-300 text-center">2</td>
                        <td class="border border-slate-300 px-2">ค่าคอมมิชชั่น</td>
                        <td class="border border-slate-300 text-center">5000</td>
                        <td class="border border-slate-300 text-center">0</td>
                    </tr>
                    <tr >
                        <td class="border border-slate-300 text-center">3</td>
                        <td class="border border-slate-300 px-2">หักค่าประกัน</td>
                        <td class="border border-slate-300 text-center">0</td>
                        <td class="border border-slate-300 text-center">2000</td>
                    </tr>
                    <tr >
                        <td class="border border-slate-300 text-center">4</td>
                        <td class="border border-slate-300 px-2">หักเบิก + ค่าขนม</td>
                        <td class="border border-slate-300 text-center">0</td>
                        <td class="border border-slate-300 text-center">2000</td>
                    </tr>
                    <tr >
                        <td class="border border-slate-300 text-center">5</td>
                        <td class="border border-slate-300 px-2">เบี้ยขยัน</td>
                        <td class="border border-slate-300 text-center">2000</td>
                        <td class="border border-slate-300 text-center">0</td>
                    </tr>
                    <tr >
                        <td class="border border-slate-300 text-center">6</td>
                        <td class="border border-slate-300 px-2">หัก ภงด.3 / 3%</td>
                        <td class="border border-slate-300 text-center">0</td>
                        <td class="border border-slate-300 text-center">200</td>
                    </tr>
                    <tr>
                        <td class="border border-slate-300 text-center" colspan="2" rowspan="1">รวมยอดรายการ</td>
                        <td class="border border-slate-300 text-center"><u>27000</u></td>
                        <td class="border border-slate-300 text-center"><u>4200</u></td>
                    </tr>
                    <tr>
                        <td class="border border-slate-300 text-center" colspan="2" rowspan="1">เงินเดือนสุทธิ</td>
                        <td class="border border-slate-300 text-center"></td>
                        <td class="border border-slate-300 text-center doubleUnderline">22800</td>
                    </tr>
                </tbody>

            </table>

            <div class="mx-4 mt-4">
                ลาเต็มวัน : 1 วัน<br />
                ลาครึ่งวัน : 0 วัน<br />
                ลาฉุกเฉิน : 0 วัน<br />
                เบิกเงินกลางเดือน : 0 บาท<br />
            </div>

        </div>
    </div>


</div>
