<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-auto bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">รายการคำสั่งซื้อ</div>
        <!-- Actions -->
        <div *ngIf="roleType == 'marketing'" class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Add product button -->
            <a href="sale-order/new-sale-order" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">สร้างคำสั่งซื้อ</span>
            </a>

        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-col flex-auto min-w-0 bg-gray-100 dark:bg-transparent">

        <div class="flex flex-col p-3 sm:p-10">
            <div class="overflow-auto  bg-white shadow sm:rounded-lg">
                <!-- Products list -->

                <div class="flex flex-col flex-auto p-5 sm:overflow-auto overflow-x-scroll border-b">
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div>ทั้งหมด</div>
                                <div
                                    class="pop-up absolute w-[30px] h-[30px] right-[10px] leading-[30px] rounded-full text-center bg-[#bbb] text-[#fff]">
                                    {{total_t}}</div>

                            </ng-template>
                            <div class="table-responsive overflow-auto">
                                <table datatable [dtOptions]="dtOptionsTotal"
                                    class="table row-border hover w-full text-lg text-left text-gray-500 dark:text-gray-400">
                                    <thead>
                                        <tr>
                                            <th>
                                                <mat-checkbox class="example-margin" [checked]="allComplete_all"
                                                    (change)="setAll($event.checked)">


                                                </mat-checkbox>
                                            </th>
                                            <th>ดูข้อมูล</th>
                                            <th>ลำดับ</th>
                                            <th>ช่องทาง</th>
                                            <th>วันที่สั่งซื้อ</th>
                                            <th>หมายเลขคำสั่งซื้อ</th>
                                            <th>ลูกค้า</th>
                                            <th>สถานะ</th>
                                            <!-- <th>บริการขนส่ง</th> -->
                                            <th>การชำระเงิน</th>
                                            <th>ยอดรวม</th>
                                            <th>แก้ไขข้อมูล</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="dataRow_t?.length != 0">
                                        <tr *ngFor="let item of dataRow_t; let i = index" style="cursor: pointer;">

                                            <td style="min-width: 50px;">
                                                <mat-checkbox [checked]="allComplete_all">


                                                </mat-checkbox>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;">
                                                <button mat-icon-button color="" (click)="view(item.id)"
                                                    title="ดูรายละเอียดข้อมูล">
                                                    <mat-icon>remove_red_eye</mat-icon>
                                                </button>
                                            </td>
                                            <td style="width: 50px; min-width: 50px;">{{ pages.begin + (i + 1) }}</td>
                                            <!-- <td style="width: 50px; min-width: 50px;">{{ item.No }}</td> -->
                                            <td *ngIf="item.channal === 'SP'"><img [src]='sp'
                                                    style="height: 25px;width: 25px">
                                            <td *ngIf="item.channal === 'line'"><img [src]='line'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'facebook'"><img [src]='facebook'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'tiktok'"> <img [src]='tiktok'
                                                    style="height: 25px;width: 25px"></td>

                                            <!-- <td>{{ item.channal }}</td> -->
                                            <td style="width: 100px; min-width: 100px;">{{ item.date_time }}</td>
                                            <td style="width: 80px; min-width: 80px;" *ngIf="item.channal === 'other'">
                                                {{item.channal}}</td>
                                            <td style="width: 150px; min-width: 150px;">{{ item.order_id }}</td>
                                            <td style="width: 180px; min-width: 180px;">{{ item.name }}</td>

                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'order'">
                                                <span
                                                    class="bg-yellow-100 text-yellow-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">ยังไม่จ่าย</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'paid'">
                                                <span
                                                    class="bg-green-300 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">จ่ายแล้ว</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'confirm'">
                                                <span
                                                    class="bg-blue-100 text-blue-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">ยืนยัน</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'packing'">
                                                <span
                                                    class="bg-gray-100 text-gray-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">กำลังแพ็ค</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'delivery'">
                                                <span
                                                    class="bg-purple-100 text-purple-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900">กำลังจัดส่ง</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'finish'">
                                                <span
                                                    class="bg-green-100 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'failed'">
                                                <span
                                                    class="bg-red-100 text-red-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">ไม่สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'COD'">
                                                COD</td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'transfer'"> โอนเงิน</td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type !== 'COD' && item.payment_type !== 'transfer'">
                                                -</td>

                                            <td style="width: 100px; min-width: 100px;">{{ item.total | number : '1.2-2'
                                                }}</td>
                                            <!-- <td style="width: 100px; min-width: 100px;">{{ item.payment_qty | number :
                                                '1.2-2' }}</td> -->
                                            <!-- <td>{{ item.date_time | thaiDate}}</td> -->
                                            <!-- <td>{{ item.created_at | date: 'dd/MM/yyyy hh:mm' }}</td> -->
                                            <td>
                                                <button mat-icon-button color="" (click)="edit(item.id)"
                                                    title="แก้ไขข้อมูล">
                                                    <mat-icon>edit</mat-icon>

                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="dataRow_t?.length == 0">
                                        <tr>
                                            <td colspan="11" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div>ยังไม่ชำระ</div>
                                <div
                                    class="pop-up absolute w-[30px] h-[30px] right-[10px] leading-[30px] rounded-full text-center bg-[#bbb] text-[#fff]">
                                    {{total_o}}</div>

                            </ng-template>
                            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 justify-end m-5">

                                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="confirmOrder(1)">
                                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                    <span class="ml-2 mr-1">ยืนยัน</span>
                                </button>

                            </div>
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptionsOrder"
                                    class="table row-border hover w-full text-lg text-left text-gray-500 dark:text-gray-400"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                <mat-checkbox class="example-margin" [checked]="allComplete_notfinish"
                                                    (change)="tickAllConfirmOrder($event, dataRow_o, 1) ">


                                                </mat-checkbox>
                                            </th>
                                            <th>ดูข้อมูล</th>
                                            <th>ลำดับ</th>
                                            <th style="width: 100px;">ช่องทาง</th>
                                            <th>วันที่สั่งซื้อ</th>
                                            <th>หมายเลขคำสั่งซื้อ</th>
                                            <th>ลูกค้า</th>
                                            <th>สถานะ</th>
                                            <!-- <th>บริการขนส่ง</th> -->
                                            <th>การชำระเงิน</th>
                                            <th>ยอดรวม</th>
                                            <th>แก้ไข</th>
                                            <!-- <th>จ่ายแล้ว</th> -->
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="dataRow_o?.length != 0">
                                        <tr *ngFor="let item of dataRow_o; let i = index" style="cursor: pointer;">
                                            <td style="min-width: 50px;">
                                                <mat-checkbox [checked]="allComplete_notfinish"
                                                    (change)="tickConfirmOrder($event, item.id, 1) ">


                                                </mat-checkbox>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;">
                          
                                                <button mat-icon-button color="" (click)="view(item.id)"
                                                    title="ดูรายละเอียดข้อมูล">
                                                    <mat-icon>remove_red_eye</mat-icon>
                                                </button>
                                                <!-- <button mat-icon-button color="" (click)="print(item.id)" title="พิมพ์ใบคำสั่งซื้อ">
                                                    <mat-icon>print</mat-icon>
                                                </button> -->
                                            </td>
                                            <td style="width: 50px;">{{ pages.begin + (i + 1) }}</td>
                                            <td *ngIf="item.channal === 'SP'"><img [src]='sp'
                                                    style="height: 25px;width: 25px">
                                            <td *ngIf="item.channal === 'line'"><img [src]='line'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'facebook'"><img [src]='facebook'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'tiktok'"> <img [src]='tiktok'
                                                    style="height: 25px;width: 25px"></td>

                                            <!-- <td>{{ item.channal }}</td> -->
                                            <td style="width: 100px; min-width: 100px;">{{ item.date_time }}</td>
                                            <td style="width: 80px; min-width: 80px;" *ngIf="item.channal === 'other'">
                                                {{item.channal}}</td>
                                            <td style="width: 150px; min-width: 150px;">{{ item.order_id }}</td>
                                            <td style="width: 180px; min-width: 180px;">{{ item.name }}</td>

                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'order'">
                                                <span
                                                    class="bg-yellow-100 text-yellow-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">ยังไม่จ่าย</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'paid'">
                                                <span
                                                    class="bg-green-300 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">จ่ายแล้ว</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'confirm'">
                                                <span
                                                    class="bg-blue-100 text-blue-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">ยืนยัน</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'packing'">
                                                <span
                                                    class="bg-gray-100 text-gray-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">กำลังแพ็ค</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'delivery'">
                                                <span
                                                    class="bg-purple-100 text-purple-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900">กำลังจัดส่ง</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'finish'">
                                                <span
                                                    class="bg-green-100 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'failed'">
                                                <span
                                                    class="bg-red-100 text-red-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">ไม่สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'COD'">
                                                COD</td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'transfer'"> โอนเงิน</td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type !== 'COD' && item.payment_type !== 'transfer'">
                                                -</td>

                                            <td style="width: 100px; min-width: 100px;">{{ item.total | number : '1.2-2'}}</td>
                                            <td style="width: 100px; min-width: 100px;">
                                                <button mat-icon-button color="" (click)="edit(item.id)"
                                                    title="แก้ไขข้อมูล">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </td>
                                            <!-- <td style="width: 100px; min-width: 100px;">{{ item.payment_qty | number : '1.2-2' }}</td> -->
                                            <!-- <td>{{ item.date_time | thaiDate}}</td> -->
                                            <!-- <td>{{ item.created_at | date: 'dd/MM/yyyy hh:mm' }}</td> -->

                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="dataRow_o?.length == 0">
                                        <tr>
                                            <td colspan="6" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div>ชำระแล้ว</div>
                                <div
                                    class="pop-up absolute w-[30px] h-[30px] right-[10px] leading-[30px] rounded-full text-center bg-[#bbb] text-[#fff]">
                                    {{total_p}}</div>

                            </ng-template>
                            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 justify-end m-5">

                                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="confirmOrder(2)">
                                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                    <span class="ml-2 mr-1">ยืนยัน</span>
                                </button>

                            </div>
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptionsPaid"
                                    class="table row-border hover w-full text-lg text-left text-gray-500 dark:text-gray-400"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                <mat-checkbox class="example-margin" [checked]="allComplete_finish"
                                                    (change)="tickAllConfirmOrder($event, dataRow_p, 2) ">


                                                </mat-checkbox>
                                            </th>
                                            <th>ดูข้อมูล</th>
                                            <th>ลำดับ</th>
                                            <th style="width: 100px;">ช่องทาง</th>
                                            <th>วันที่สั่งซื้อ</th>
                                            <th>หมายเลขคำสั่งซื้อ</th>
                                            <th>ลูกค้า</th>
                                            <th>สถานะ</th>
                                            <!-- <th>บริการขนส่ง</th> -->
                                            <th>การชำระเงิน</th>
                                            <th>ยอดรวม</th>
                                            <th>จ่ายแล้ว</th>
                                            <th>แก้ไข</th>

                                        </tr>
                                    </thead>
                                    <tbody *ngIf="dataRow_p?.length != 0">
                                        <tr *ngFor="let item of dataRow_p; let i = index" style="cursor: pointer;">

                                            <td style="min-width: 50px;">
                                                <mat-checkbox [checked]="allComplete_finish"
                                                    (change)="tickConfirmOrder($event, item.id, 2) ">


                                                </mat-checkbox>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;">
                                                <button mat-icon-button color="" (click)="view(item.id)"
                                                    title="รหัส{{ item.order_id }}  ชื่อ {{ item.name  }}  จำนวน{{ item.payment_qty | number : '1.2-2' }}  ยอดรวมสุทธิ{{ item.total | number : '1.2-2' }} ">
                                                    <mat-icon>remove_red_eye</mat-icon>
                                                </button>
                                            </td>


                                            <td style="width: 50px;">{{ pages.begin + (i + 1) }}</td>
                                            <td *ngIf="item.channal === 'SP'"><img [src]='sp'
                                                    style="height: 25px;width: 25px">
                                            <td *ngIf="item.channal === 'line'"><img [src]='line'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'facebook'"><img [src]='facebook'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'tiktok'"> <img [src]='tiktok'
                                                    style="height: 25px;width: 25px"></td>

                                            <!-- <td>{{ item.channal }}</td> -->
                                            <td style="width: 100px; min-width: 100px;">{{ item.date_time }}</td>
                                            <td style="width: 80px; min-width: 80px;" *ngIf="item.channal === 'other'">
                                                {{item.channal}}</td>
                                            <td style="width: 150px; min-width: 150px;">{{ item.order_id }}</td>
                                            <td style="width: 180px; min-width: 180px;">{{ item.name }}</td>

                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'order'">
                                                <span
                                                    class="bg-yellow-100 text-yellow-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">ยังไม่จ่าย</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'paid'">
                                                <span
                                                    class="bg-green-300 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">จ่ายแล้ว</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'confirm'">
                                                <span
                                                    class="bg-blue-100 text-blue-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">ยืนยัน</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'packing'">
                                                <span
                                                    class="bg-gray-100 text-gray-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">กำลังแพ็ค</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'delivery'">
                                                <span
                                                    class="bg-purple-100 text-purple-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900">กำลังจัดส่ง</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'finish'">
                                                <span
                                                    class="bg-green-100 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'failed'">
                                                <span
                                                    class="bg-red-100 text-red-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">ไม่สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'COD'">
                                                COD</td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'transfer'"> โอนเงิน</td>


                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type !== 'COD' && item.payment_type !== 'transfer'">
                                                -</td>


                                            <td style="width: 100px; min-width: 100px;">{{ item.total | number : '1.2-2'
                                                }}</td>
                                            <td style="width: 100px; min-width: 100px;">{{ item.payment_qty | number :
                                                '1.2-2' }}</td>
                                            <!-- <td>{{ item.date_time | thaiDate}}</td> -->
                                            <!-- <td>{{ item.created_at | date: 'dd/MM/yyyy hh:mm' }}</td> -->
                                            <td>
                                                <button mat-icon-button color="" (click)="edit(item.id)"
                                                    title="แก้ไขข้อมูล">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="dataRow_p?.length == 0">
                                        <tr>
                                            <td colspan="6" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div>ชำระมีเงื่อนไข</div>
                                <div
                                    class="pop-up absolute w-[30px] h-[30px] right-[10px] leading-[30px] rounded-full text-center bg-[#bbb] text-[#fff]">
                                    {{total_p}}</div>

                            </ng-template>
                            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 justify-end m-5">

                                <button class="ml-4" mat-flat-button [color]="'primary'" (click)="confirmOrder(3)">
                                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                    <span class="ml-2 mr-1">ยืนยัน</span>
                                </button>

                            </div>
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptionsPaid"
                                    class="table row-border hover w-full text-lg text-left text-gray-500 dark:text-gray-400"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                <mat-checkbox class="example-margin" [checked]="allComplete_condition"
                                                    (change)="tickAllConfirmOrder($event, dataRow_p, 3) ">


                                                </mat-checkbox>
                                            </th>
                                            <th>จัดการ</th>
                                            <th>ลำดับ</th>
                                            <th style="width: 100px;">ช่องทาง</th>
                                            <th>วันที่สั่งซื้อ</th>
                                            <th>หมายเลขคำสั่งซื้อ</th>
                                            <th>ลูกค้า</th>
                                            <th>สถานะ</th>
                                            <!-- <th>บริการขนส่ง</th> -->
                                            <th>การชำระเงิน</th>
                                            <th>ยอดรวม</th>
                                            <th>จ่ายแล้ว</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="dataRow_p?.length != 0">
                                        <tr *ngFor="let item of dataRow_p; let i = index" style="cursor: pointer;">
                                            <td style="min-width: 50px;">
                                                <mat-checkbox [checked]="allComplete_condition"
                                                    (change)="tickConfirmOrder($event, item.id, 3)">


                                                </mat-checkbox>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;">
                                                <button mat-icon-button color="" (click)="edit(item.id)"
                                                    title="แก้ไขข้อมูล">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button mat-icon-button color="" (click)="view(item.id)"
                                                    title="ดูรายละเอียดข้อมูล">
                                                    <mat-icon>remove_red_eye</mat-icon>
                                                </button>
                                                <!-- <button mat-icon-button color="" (click)="print(item.id)" title="พิมพ์ใบคำสั่งซื้อ">
                                                    <mat-icon>print</mat-icon>
                                                </button> -->
                                            </td>
                                            <td style="width: 50px;">{{ pages.begin + (i + 1) }}</td>
                                            <td *ngIf="item.channal === 'SP'"><img [src]='sp'
                                                    style="height: 25px;width: 25px">
                                            <td *ngIf="item.channal === 'line'"><img [src]='line'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'facebook'"><img [src]='facebook'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'tiktok'"> <img [src]='tiktok'
                                                    style="height: 25px;width: 25px"></td>

                                            <!-- <td>{{ item.channal }}</td> -->
                                            <td style="width: 100px; min-width: 100px;">{{ item.date_time }}</td>
                                            <td style="width: 80px; min-width: 80px;" *ngIf="item.channal === 'other'">
                                                {{item.channal}}</td>
                                            <td style="width: 150px; min-width: 150px;">{{ item.order_id }}</td>
                                            <td style="width: 180px; min-width: 180px;">{{ item.name }}</td>

                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'order'">
                                                <span
                                                    class="bg-yellow-100 text-yellow-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">ยังไม่จ่าย</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'paid'">
                                                <span
                                                    class="bg-green-300 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">จ่ายแล้ว</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'confirm'">
                                                <span
                                                    class="bg-blue-100 text-blue-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">ยืนยัน</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'packing'">
                                                <span
                                                    class="bg-gray-100 text-gray-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">กำลังแพ็ค</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'delivery'">
                                                <span
                                                    class="bg-purple-100 text-purple-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900">กำลังจัดส่ง</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'finish'">
                                                <span
                                                    class="bg-green-100 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'failed'">
                                                <span
                                                    class="bg-red-100 text-red-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">ไม่สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'COD'">
                                                COD</td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'transfer'"> โอนเงิน</td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type !== 'COD' && item.payment_type !== 'transfer'">
                                                -</td>

                                            <td style="width: 100px; min-width: 100px;">{{ item.total | number : '1.2-2'
                                                }}</td>
                                            <td style="width: 100px; min-width: 100px;">{{ item.payment_qty | number :
                                                '1.2-2' }}</td>
                                            <!-- <td>{{ item.date_time | thaiDate}}</td> -->
                                            <!-- <td>{{ item.created_at | date: 'dd/MM/yyyy hh:mm' }}</td> -->

                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="dataRow_p?.length == 0">
                                        <tr>
                                            <td colspan="6" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div>ยืนยัน</div>
                                <div
                                    class="pop-up absolute w-[30px] h-[30px] right-[10px] leading-[30px] rounded-full text-center bg-[#bbb] text-[#fff]">
                                    {{total_c}}</div>

                            </ng-template>
                            <div class="table-responsive">
                                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 justify-end m-5 items-center">

                                    <div>
                                        <mat-form-field class="w-30">
                                            <mat-select [(ngModel)]="delivered_by">
                                                <mat-option *ngFor="let item of delivered" [value]="item.id" >
                                                    <!-- <img src='{{item.image}}'>  -->
                                                    {{item.name}}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                    <button class="ml-4" mat-flat-button [color]="'primary'" (click)="DelMulOrder()">
                                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                        <span class="ml-2 mr-1">ยืนยัน</span>
                                    </button>

                                </div>
                                <table datatable [dtOptions]="dtOptionsConfirm"
                                    class="table row-border hover w-full text-lg text-left text-gray-500 dark:text-gray-400"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                <mat-checkbox class="example-margin" [checked]="allComplete_submit"
                                                    (change)="tickAllDelOrder($event, dataRow_c)">


                                                </mat-checkbox>
                                            </th>
                                            <th>จัดการ</th>
                                            <th>ลำดับ</th>
                                            <th style="width: 100px;">ช่องทาง</th>
                                            <th>วันที่สั่งซื้อ</th>
                                            <th>หมายเลขคำสั่งซื้อ</th>
                                            <th>ลูกค้า</th>
                                            <th>สถานะ</th>
                                            <!-- <th>บริการขนส่ง</th> -->
                                            <th>การชำระเงิน</th>
                                            <th>ยอดรวม</th>
                                            <th>จ่ายแล้ว</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="dataRow_c?.length != 0">
                                        <tr *ngFor="let item of dataRow_c; let i = index" style="cursor: pointer;">
                                            <td style="min-width: 50px;">
                                                <mat-checkbox [checked]="allComplete_submit"
                                                    (change)="tickDelOrder($event, item.id)">


                                                </mat-checkbox>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;">
                                                <button mat-icon-button color="" (click)="edit(item.id)"
                                                    title="แก้ไขข้อมูล">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                                <button mat-icon-button color="" (click)="view(item.id)"
                                                    title="ดูรายละเอียดข้อมูล">
                                                    <mat-icon>remove_red_eye</mat-icon>
                                                </button>
                                                <!-- <button mat-icon-button color="" (click)="print(item.id)" title="พิมพ์ใบคำสั่งซื้อ">
                                                    <mat-icon>print</mat-icon>
                                                </button> -->
                                            </td>
                                            <td style="width: 50px;">{{ pages.begin + (i + 1) }}</td>
                                            <td *ngIf="item.channal === 'SP'"><img [src]='sp'
                                                    style="height: 25px;width: 25px">
                                            <td *ngIf="item.channal === 'line'"><img [src]='line'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'facebook'"><img [src]='facebook'
                                                    style="height: 25px;width: 25px"></td>
                                            <td *ngIf="item.channal === 'tiktok'"> <img [src]='tiktok'
                                                    style="height: 25px;width: 25px"></td>

                                            <!-- <td>{{ item.channal }}</td> -->
                                            <td style="width: 100px; min-width: 100px;">{{ item.date_time}}</td>
                                            <td style="width: 80px; min-width: 80px;" *ngIf="item.channal === 'other'">
                                                {{item.channal}}</td>
                                            <td style="width: 150px; min-width: 150px;">{{ item.order_id }}</td>
                                            <td style="width: 180px; min-width: 180px;">{{ item.name }}</td>

                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'order'">
                                                <span
                                                    class="bg-yellow-100 text-yellow-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900">ยังไม่จ่าย</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;" *ngIf="item.status === 'paid'">
                                                <span
                                                    class="bg-green-300 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">จ่ายแล้ว</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'confirm'">
                                                <span
                                                    class="bg-blue-100 text-blue-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">ยืนยัน</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'packing'">
                                                <span
                                                    class="bg-gray-100 text-gray-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">กำลังแพ็ค</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'delivery'">
                                                <span
                                                    class="bg-purple-100 text-purple-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-purple-200 dark:text-purple-900">กำลังจัดส่ง</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'finish'">
                                                <span
                                                    class="bg-green-100 text-green-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.status === 'failed'">
                                                <span
                                                    class="bg-red-100 text-red-800 text-md font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">ไม่สำเร็จ</span>
                                            </td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'COD'">
                                                COD</td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type === 'transfer'"> โอนเงิน</td>
                                            <td style="width: 100px; min-width: 100px;"
                                                *ngIf="item.payment_type !== 'COD' && item.payment_type !== 'transfer'">
                                                -</td>

                                            <td style="width: 100px; min-width: 100px;">{{ item.total | number : '1.2-2'
                                                }}</td>
                                            <td style="width: 100px; min-width: 100px;">{{ item.payment_qty | number :
                                                '1.2-2' }}</td>
                                            <!-- <td>{{ item.date_time | thaiDate}}</td> -->
                                            <!-- <td>{{ item.created_at | date: 'dd/MM/yyyy hh:mm' }}</td> -->

                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="dataRow_c?.length == 0">
                                        <tr>
                                            <td colspan="6" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>