::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    background-color: #bbffdd;
}

::ng-deep .mat-tab-list .mat-tab-label {
    color: blue;
    border-color: black;
    border-width: 2px;
    background-color: #bbffdd;
    
}
