

::ng-deep .mat-tab-labels {
    justify-content: center !important;
    background-color: #f1f5f9;
    border-radius: 25px;
    gap: 15px;
}



::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
    margin-bottom: 0px !important;
}