<div class="mt-10 bg-gray-100 flex items-center justify-center">
    <form (ngSubmit)="onSubmit()" #withdrawForm="ngForm" class="bg-white p-6 rounded-lg shadow-md text-center items-center justify-center w-4/6">
      <h1 class="text-2xl font-semibold mb-6">ถอนเงิน</h1>
      <div class="mb-4">
        <label for="bank" class="block text-gray-700">ชื่อธนาคาร:</label>
        <select id="bank" [(ngModel)]="withdrawData.bank" name="bank" required class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-300">
          <option class="text-center" value="">กรุณาเลือกธนาคาร</option>
          <option class="text-center" value="Kasikorn Bank">ธนาคารกสิกรไทย</option>
          <option class="text-center" value="Siam Commercial Bank">ธนาคารไทยพานิชย์</option>
        </select>
      </div>
    <div class="mb-4">
      <label for="accountName" class="block text-gray-700">ชื่อจริง-นามสกุล:</label>
      <input type="text" id="accountName" [(ngModel)]="withdrawData.accountName" name="accountName" required class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-300 text-center">
    </div>
    <div class="mb-4">
      <label for="accountNumber" class="block text-gray-700">หมายเลขบัญชี:</label>
      <input type="text" id="accountNumber" [(ngModel)]="withdrawData.accountNumber" name="accountNumber" required class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-300 text-center">
    </div>
    <div class="mb-6">
      <label for="amount" class="block text-gray-700">จำนวนเงิน:</label>
      <input type="text" id="amount" [(ngModel)]="withdrawData.amount" name="amount" required class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-300 text-center">
    </div>
    <button type="submit" [disabled]="!withdrawForm.valid" class="bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600 focus:outline-none transition duration-200 ease-in-out">ยืนยัน</button>
    <button type="button" (click)="clearData(withdrawForm)" class="ml-4 bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-400 focus:outline-none transition duration-200 ease-in-out">ล้างข้อมูล</button>
  </form>
