.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 48px auto 112px 72px;
    }

    @screen md {
        grid-template-columns: 48px 112px auto 112px 72px;
    }

    @screen lg {
        grid-template-columns: 30px 142px 142px 142px 142px auto 120px 30px 30px 30px;
    }
}
.Auto{
    height: auto !important;
}

.inventory-grid-2 {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        grid-template-columns: 48px auto 112px 72px;
    }

    @screen md {
        grid-template-columns: 48px 112px auto 112px 72px;
    }

    @screen lg {
        grid-template-columns: 30px 112px 112px 132px 112px auto 30px;
    }
}

// .btn-none-bg {
//     border-radius: 5px !important;
//     background:#ffffff !important;
//     border:2px solid #F43F5E !important;
//     color:#F43F5E !important;
// }

.bg-gray-50 {
    background: #FEEDEE !important;
    font-weight: bold !important;
}

.bg-select {
    background: #F6F6F5 !important;
}

table {
    width: 100%;
}

::ng-deep iframe {
    height: 1920px;
    width: 980px;
  }


  ::ng-deep .mat-tab-labels {
    justify-content: center !important;
    background-color: #f1f5f9;
    border-radius: 25px;
    gap: 15px;
}



::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
    margin-bottom: 0px !important;
}

::ng-deep .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
    width: 320px !important;
    border-radius: 25px !important;
}

::ng-deep .mat-option-text {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

::ng-deep .mat-select-panel {
    border-radius: 25px !important;
    max-height: none !important;
    border: 1px solid #8a8a8a46;
}