<!--<div class="shadow-sm text-center font-bold text-md mr-auto p-16 pt-6 items-center justify-between">
<div class="flex flex-col gap-4 border mx-16 text-center justify-center items-center">
    <div class="flex flex-col p-6">
      <label class="text-sm font-semibold mb-1 text-center" for="product-code">รหัส:</label>
      <input id="product-code" type="text" [(ngModel)]="product.code" class="border border-gray-300 px-2 py-1 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
    </div>
    <div class="flex flex-col p-6 text-center">
      <label class="text-sm font-semibold mb-1" for="product-name">ชื่อสินค้า:</label>
      <input id="product-name" type="text" [(ngModel)]="product.name" class="border border-gray-300 px-2 py-1 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
    </div>
    <div class="flex flex-col p-6 text-center">
      <label class="text-sm font-semibold mb-1" for="product-quantity">จำนวน:</label>
      <input id="product-quantity" type="number" [(ngModel)]="product.quantity" class="border border-gray-300 px-2 py-1 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
    </div>
    <div class="flex justify-center p-6 text-md">
      <button (click)="toggleProduct()" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
        {{product.isActivated ? 'ปิดการใช้งาน' : 'เปิดการใช้งาน'}}
      </button>
    </div>
  </div>
</div>
-->

    <!-- Header -->
   
        <!-- Loader -->
       <!-- <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
<div class="flex-col shadow-slate-500 shadow-lg  text-lg mr-auto p-1  pl-8 items-center justify-between text-center">
  <h1 class="p-1 mt-4 mb-6 font-bold text-xl mr-4 shadow-slate-500 rounded-full text-black">รายการสินค้า</h1>
  <table class=" shadow-slate-300 rounded-xl pr-4 mr-2">
    <tr>
      <th>Code</th>
      <th>Pic</th>
      <th>Name</th>
      <th>Qty</th>
      <th>On/Off</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.image }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.quantity }}</td>
      <td>
        <label class="relative inline-flex items-center mr-8 ml-8 cursor-pointer"> 
          <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1"
          [(ngModel)]="product.isActive" (change)="toggleProductStatus(product)" class="sr-only peer" checked>
          <div class="w-11 h-6 bg-red-600 rounded-full peer 
          peer-focus:ring-primary-300 dark:peer-focus:ring-primary-800 dark:bg-gray-700 
          peer-checked:after:translate-x-full peer-checked:after:border-white after:content-['']
           after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 
           after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 
           peer-checked:bg-primary-600"></div>
           </label>
      </td>
    </tr>


  </table>
</div>

<!--<h1 class="flex text-center mx-auto ml-12 pt-10 font-extrabold text-3xl">LIVE STREAMING</h1>
<div *ngFor="let video of listVideo">
<div  [innerHTML]="video.embed_html | noSanitize">
<pre>{{listVideo | json}}</pre>
<div class="flex mt-5 mb-12 ml-5 mr-60 p-14">
<div class="grid grid-cols-3 mr-10 mb-60 gap-4 pt-2">
</div>-->

<app-live-dialoge></app-live-dialoge>
<app-chat></app-chat>