<!--<h1 class="flex text-center items-center justify-center text-xl p-6 font-bold animate-pulse">Live Steam</h1>-->
<img class="w-24 h-20 mx-auto flex flex-col" src="assets/images/49855-live-badge-gradation-unscreen.gif" alt="stream">
<div class="ml-50">
<img class="p-6 flex-col" src="assets/images/how-to-make-animated-GIFs.gif" alt="live" style="width: 60%;">
<img class="p-6 flex-col" src="assets/images/ifrv492j.png" alt="live" style="width: 60%;">
<img class="p-6 flex-col" src="assets/images/ifrv492j.png" alt="live" style="width: 60%;">
</div>

<!--<div class="video">
	<video controls (click)="toggleVideo()" #videoPlayer>
		<source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
		Browser not supported
	</video>
</div>-->