<div class="w-full">
    <div class="flex flex-col w-full ">
        <div class="flex w-full  bg-card items-center justify-start">
            <span class="header">ตั้งค่าขนส่ง</span>
        </div>
        <div class="flex flex-wrap w-full">
            <button mat-flat-button class="m-5 w-1/6  ">ขนส่ง</button>
            <div class="flex flex-col bg-card h-50 m-10 w-full  rounded-2xl shadow-2xl">
                <div class="flex justify-center text-2xl w-full m-2">
                    ขนส่งที่เลือก
                </div>
                <div class="flex w-full">
                    <table>
                        <thead >
                            <tr>
                                <th>จัดการ</th>
                                <th>ลำดับ</th>
                                <th>รูปโลโก้</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>

                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        
    </div>
</div>