.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[mat-dialog-title] {
    margin: -24px -24px 0px -24px !important;
    padding: 10px 24px;
    background: #010f20;
    color: #fff;
    cursor: grab;
}