<mat-form-field class="flex-initial w-5/6 text-center items-center justify-center ml-4" appearance="fill">
  <mat-label class="text-center">สำหรับการเติมโดยการโอนผ่านบัญชีธนาคาร</mat-label>
  <mat-select [formControl]="bankControl" required>
    <mat-option class="mr-3">กรุณาเลือกธนาคาร</mat-option>
    <mat-option *ngFor="let bank of banks" [value]="bank">
    {{bank.name}}
    </mat-option>
  </mat-select>
  <mat-error class="text-center" *ngIf="bankControl.hasError('required')">เลือกธนาคาร</mat-error>
  <mat-hint>{{bankControl.value?.number}}</mat-hint>
</mat-form-field>

<!-- for topup payment-->

<mat-form-field class="flex-initial w-5/6 text-center items-center justify-center ml-4" appearance="fill">
  <mat-label class="text-center">สำหรับการเติมโดยการ</mat-label>
  <mat-select [formControl]="bankControl" required>
    <mat-option class="mr-3">กรุณาเลือกธนาคาร</mat-option>
    <mat-option *ngFor="let bank of banks" [value]="bank">
    {{bank.name}}
    </mat-option>
  </mat-select>
  <mat-error class="text-center" *ngIf="bankControl.hasError('required')">เลือกธนาคาร</mat-error>
  <mat-hint>{{bankControl.value?.number}}</mat-hint>
</mat-form-field>