<div class="">
  <h1>การเติมเงิน</h1>
</div>
<input type="radio" name="qrcode" id="qr-trans" class="input-radio">
<div class="text">
  QR CODE
</div>
<img _ngcontent-cub-c241="" src="assets/wallet-management/wallet/icon/prompay-icon.svg" class="promptpay-banner">
<h1>ยกเว้นค่าธรรมเนียมตั่งแต่ 1ม</h1>
<div _ngcontent-cub-c241="" class="step"><div _ngcontent-cub-c241="" class="v-stepper"><img _ngcontent-cub-c241="" src="assets/wallet-management/wallet/icon/stepper-mobile-banking.svg"><div _ngcontent-cub-c241="" class="line"></div></div><div _ngcontent-cub-c241="" class="content"><div _ngcontent-cub-c241="" class="text normal-text"> กรอกจำนวนเงิน </div><div _ngcontent-cub-c241="" class="sub-text small-text"> กรอกจำนวนเงินที่ต้องการทำรายการเติมเงินและกดยืนยันการทำรายการ </div></div></div>
