     <div class="flex-auto p-3 sm:p-2 text-center">
        <h1 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate text-center pb-6">
            ยืนยันการชำระเงิน</h1>
        </div>
        <div class="flex flex-col mt-2 px-5 items-center text-center mx-60 pt-10">
            <label for="code"
                class="text-gray-800 text-lg font-bold leading-tight tracking-normal w-1/3 mt-4 p-1">อัพโหลดสลิป</label>
            <div class="flex justify-start items-center w-full">
                <label>
                    <mat-label></mat-label>
                    <input (change)='onChange($event)' type="file" id="file" style="cursor: pointer;">
                    <img class="img" [src]="url" style="width: 250px; height: 250px;">
                </label>
            </div>
        <div class="flex flex-col items-center justify-end w-full border-t px-8 py-4 mt-4">
            <div class="flex items-center justify-end">
                <a class="ml-4 rounded-full" mat-raised-button (click)="onClose()">
                    <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                    ยกเลิก
                </a>
                <button class="px-6 ml-3 mat-primary rounded-full" mat-raised-button (click)="Confirm()">
                    <mat-icon svgIcon="heroicons_solid:chevron-double-right"></mat-icon>
                    ยืนยัน
                </button>
            </div>
        </div>

<!--</div>-->


