<div class="flex flex-auto justify-center ml-26">
    <div class="text-4xl font-bold text-green-700">เพิ่มสินค้า</div>
  </div>
  <div class="flex justify-center">
    <div class="w-1/5 mt-5 rounded-lg p-4 shadow-md text-center">
      <ul>
        <li class="mb-2 text-2xl font-bold text-green-700">ยอดรวม</li>
        <ng-container *ngFor="let product of products">
          <li class="text-green-700" *ngIf="product.quantity > 0">
            {{ product.name }} ({{ product.quantity }})
          </li>
        </ng-container>
        <div class="pagination mt-4">
          <p class="text-gray-600">Total Price: {{ calculateTotalPrice() }}</p>
          <p class="text-gray-600">Item: {{ AddItem() }}</p>
        </div>
      </ul>
    </div>


    <div class="w-4/5">
      <div class="product-table">
        <table class="w-full bg-white rounded-lg shadow-lg">
          <thead>
            <tr>
              <th class="px-4 py-3 bg-green-500 text-white">สินค้า</th>
              <th class="px-4 py-3 bg-green-500 text-white">จำนวนคงเหลือ</th>
              <th class="px-4 py-3 bg-green-500 text-white">ราคา</th>
              <th class="px-4 py-3 bg-green-500 text-white">จำนวนสินค้า</th>
              <th class="px-4 py-3 bg-green-500 text-white">เพิ่มลบ/สินค้า</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products" class="border-b">
              <td class="px-4 py-3">{{ product.name }}</td>
              <td class="px-4 py-3">{{ product.qty }}</td>
              <td class="px-4 py-3">{{ product.unit_price }}</td>
              <td class="px-4 py-3 text-center">{{ product.quantity }}</td>
              <td class="text-center space-x-6">
                <button (click)="increaseQuantity(product)" class="px-4 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600 transition-colors duration-300"><b class="text-xl">+</b></button>
                <button (click)="decreaseQuantity(product)" class="px-4 py-2 text-white bg-red-500 rounded-lg hover:bg-red-600 transition-colors duration-300"><b class="text-xl">-</b></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="total-price mt-4 space-x-6">
        <button (click)="confirmSelection()" class="px-8 py-3 text-white bg-green-500 rounded-lg hover:bg-green-600 transition-colors duration-300">ยืนยัน</button>
        <button (click)="resetSelection()" class="px-8 py-3 text-white bg-red-700 rounded-lg hover:bg-red-800 transition-colors duration-300">ล้าง</button>
      </div>
    </div>
  </div>
