<div class="flex flex-col bg-card w-full ">

    <div class="flex flex-col ">

        <div class="flex flex-auto flex-wrap">
            <div class="flex flex-col w-full lg:w-1/2 ">
                <div class="flex flex-col flex-auto p-5 sm:overflow-auto overflow-x-scroll">

                    <!-- <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" >
                        <mat-tab *ngFor="let tab of tabs; let index = index"> -->
                            <ng-template mat-tab-label>
                                <div class="text-md font-bold">{{tab}}</div>
                            </ng-template>
                            <!-- <div *ngIf="tab === 'สินค้าธรรมดา'" class="table-responsive"> -->
                                <table datatable [dtOptions]="dtOptions"
                                    class="table p-5 row-border hover text-lg text-left text-gray-500 dark:text-gray-400">
                                    <thead>
                                        <tr>
                                            <th>จัดการ</th>
                                            <th>รูป</th>
                                            <th>รหัสสินค้า</th>
                                            <th>ชื่อ</th>
                                            <th>จำนวนทั้งหมด</th>
                                            <th>น้ำหนัก (กก.)</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="items?.length != 0">
                                        <tr *ngFor="let item of items; let i = index"
                                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-md">
                                            <td style="width: 80px; min-width: 80px;">
                                                <button mat-icon-button (click)="openMoneyDialog(item.item_id)" title="แก้ไขข้อมูล">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </td>
                                            <!-- <td style="width: 80px; min-width: 80px;">{{ pages.begin + (i + 1) }}</td> -->
                                            <td style="width: 60px; min-width: 60px;" *ngIf="item.image === null || ''"> </td>
                                            <td style="min-width: 60px;" *ngIf="item.image !== null || ''">
                                                <a href="{{item.image}}" target="_blank" title="คลิกเพื่อเปิดดูรูปภาพ"><img class="h-10 w-10"
                                                        src="{{item.image}}"></a>
                                            </td>
                                            <td style="width: 120px; min-width: 120px;">{{ item.item_id }}</td>
                                            <td style="width: 100px; min-width: 100px;">{{ item.name }}</td>
                                            <td style="width: 100px; min-width: 100px;">{{ item.qty }}</td>
                                            <td style="width: 100px; min-width: 100px;">{{ item.weight }}</td>
                                    </tr>
                                    </tbody>
                                    <tbody *ngIf="items?.length == 0">
                                        <tr>
                                            <td colspan="8" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!-- </div> -->
                            <!-- <div *ngIf="tab === 'สินค้าโปรโมชั่น'" class="table-responsive">
                                <table datatable [dtOptions]="dtOptionsPromotion"
                                    class="table row-border hover w-full text-lg text-left text-gray-500 dark:text-gray-400"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>จัดการ</th>
                                            <th>ลำดับ</th>
                                            <th>รูป</th>
                                            <th>รหัสสินค้า</th>
                                            <th>ชื่อ</th>
                                            <th>จำนวนทั้งหมด</th>
                                            <th>สินค้าถูกจอง</th>
                                            <th>พร้อมขาย</th>
                                            <th>สถานะ</th>
                                            <th>สร้างโดย</th>
                                            <th>วันที่สร้าง</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="itemsPromotion?.length != 0">
                                        <tr *ngFor="let item of itemsPromotion; let i = index"
                                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-md">
                                            <td style="width: 80px; min-width: 80px;">
                                                <button mat-icon-button (click)="edit(item.id)" title="แก้ไขข้อมูล">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </td>
                                            <td style="width: 80px; min-width: 80px;">{{ pages.begin + (i + 1) }}</td>
                                            <td style="width: 60px; min-width: 60px;" *ngIf="item.image === null || ''"> </td>
                                            <td style="min-width: 60px;" *ngIf="item.image !== null || ''">
                                                <a href="{{item.image}}" target="_blank" title="คลิกเพื่อเปิดดูรูปภาพ"><img class="h-10 w-10"
                                                        src="{{item.image}}"></a>
                                            </td>
                                            <td style="width: 120px; min-width: 120px;">{{ item.item_id }}</td>
                                            <td style="width: 200px; min-width: 200px;">{{ item.name }}</td>
                                            <td style="width: 100px; min-width: 100px;">{{ item.qty }}</td>
                                            <td style="width: 100px; min-width: 100px;">{{ item.booking }}</td>
                                            <td style="width: 100px; min-width: 100px;">{{ item.balance }}</td>
                                            <td style="width: 130px; min-width: 130px;">
                                                <div *ngIf="item.status == 1">

                                                    <span
                                                        class="bg-green-100 text-green-800 text-md font-extrabold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">เปิดการใช้งาน</span>
                                                </div>
                                                <div *ngIf="item.status == 0">

                                                    <span
                                                        class="bg-red-100 text-red-800 text-md font-extrabold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">ปิดการใช้งาน</span>
                                                </div>
                                            </td>
                                            <td style="width: 120px; min-width: 120px;">{{ item.user_create ? item.user_create.first_name : 'No data' }} {{
                                                item.user_create ?
                                                item.user_create.last_name: '' }}
                                            </td>

                                            <td style="width: 100px; min-width: 100px;">{{ item.created_at | date: 'dd/MM/yyyy hh:mm' }}</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="itemsPromotion?.length == 0">
                                        <tr>
                                            <td colspan="11" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                        <!-- </mat-tab>
                    </mat-tab-group> -->

                </div>
            </div>
            <div class="flex flex-col w-full lg:w-1/2 ">
                <div class="m-10">
                    <table class="w-full table row-border hover text-lg text-left text-gray-500 dark:text-gray-400 ">
                        <thead class="border-b-2 h-10 bg-gray-100">
                            <tr>
                                <th>ลำดับ</th>
                                <th>รหัสสินค้า</th>
                                <th>จำนวน</th>
                                <th>ราคาปลีก</th>
                                <th>ยอดรวม</th>

                            </tr>
                        </thead>
                        <tbody *ngIf="myArray?.length != 0">
                            <tr *ngFor="let item of myArray; let i = index"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-md">

                                <td style="width: 120px; min-width: 120px;">{{ i+1 }}</td>
                                <td style="width: 120px; min-width: 120px;">{{ item.item_id }}</td>

                                <td style="width: 100px; min-width: 100px;">{{ item.qty }}</td>
                                <td style="width: 100px; min-width: 100px;">{{ item.price }}</td>
                                <td style="width: 100px; min-width: 100px;">{{ item.total }}</td>
                                <!-- <td style="width: 100px; min-width: 100px;">{{ item.booking }}</td>
                                <td style="width: 100px; min-width: 100px;">{{ item.balance }}</td> -->
                                <!-- <td style="width: 130px; min-width: 130px;">
                                    <div *ngIf="item.status == 1">
                                        <span
                                            class="bg-green-100 text-green-800 text-md font-extrabold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">เปิดการใช้งาน</span>
                                    </div>
                                    <div *ngIf="item.status == 0">
                                        <span
                                            class="bg-red-100 text-red-800 text-md font-extrabold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">ปิดการใช้งาน</span>
                                    </div>
                                </td> -->
                                <!-- <td style="width: 120px; min-width: 120px;">{{ item.user_create ? item.user_create.first_name : 'No data' }} {{
                                    item.user_create ?
                                    item.user_create.last_name: '' }}
                                </td> -->
                                <!-- <td>{{ item.created_at | thaiDate }}</td> -->
                                <!-- <td style="width: 100px; min-width: 100px;">{{ item.created_at  }}</td> -->
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="flex items-center justify-end w-full border-t px-8 py-4">
                <div class="flex items-center justify-end ">
                    <button class="ml-4" mat-flat-button mat-dialog-close>
                        <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                        ยกเลิก
                    </button>
                    <button class="px-6 ml-3 mat-primary " mat-flat-button (click)="addSetItem()">
                        <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                        เพิ่มรายการ
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
