<div class="mb-6 pt-4">
          <label class="mb-5 block text-xl font-semibold text-[#07074D]">
                    Upload File
          </label>

          <div class="mb-8">
                    <input type="file" name="file" id="file" class="sr-only" />
                    <label for="file"
                              class="relative flex min-h-[200px] items-center justify-center rounded-md border border-dashed border-[#e0e0e0] p-12 text-center">
                              <div>
                                        <span class="mb-2 block text-xl font-semibold text-[#07074D]">
                                                  Drop files here
                                        </span>
                                        <span class="mb-2 block text-base font-medium text-[#6B7280]">
                                                  Or
                                        </span>
                                        <span
                                                  class="inline-flex rounded border border-[#e0e0e0] py-2 px-7 text-base font-medium text-[#07074D]">
                                                  Browse
                                        </span>
                              </div>
                    </label>
          </div>


</div>