<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent items-center justify-center">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    จัดการที่อยู่ </h2>
            </div>

        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto ">
        <form class="flex flex-col mt-3 p-8 pb-4 bg-card shadow overflow-hidden ng-valid" [formGroup]="formData">
            <div class="flex flex-col sm:flex-col p-8">


                <div class="flex flex-auto flex-wrap">
                    <!-- <div class="flex flex-col w-full lg:w-4/4 sm:pl-6">
                        
                        <div class="flex">

                            <mat-form-field class="w-full">
                                <mat-label>ขนส่ง
                                </mat-label>
                                <mat-select [formControlName]="'delivered_by_id'">
                                    <mat-option [value]="''">
                                        <span>เลือกขนส่ง</span>
                                    </mat-option>
                                    <mat-option *ngFor="let item of delivery_Id | async " [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                                
                            </mat-form-field>

                        </div>
                    </div> -->
                    <div class="flex flex-col w-full lg:w-4/4 sm:pl-6">

                        <div class="flex flex-col">
                            <mat-form-field class="w-full">
                                <mat-label>ชื่อ
                                </mat-label>
                                <input matInput [formControlName]="'name'">
                                <mat-error>
                                    กรุณากรอกชื่อ
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-4/4 sm:pl-6">

                        <div class="flex flex-col">
                            <mat-form-field class="w-full">
                                <mat-label>ที่อยู่
                                </mat-label>
                                <input matInput [formControlName]="'address'">
                                <mat-error>
                                    กรุณากรอกที่อยู่
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-4/4 sm:pl-6">

                        <div class="flex flex-col">
                            <mat-form-field class="w-full">
                                <mat-label>เบอร์โทร
                                </mat-label>
                                <input matInput [formControlName]="'tel'">
                                <mat-error>
                                    กรุณากรอกเบอร์โทร
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col w-full lg:w-4/4 sm:pl-6">

                        <div class="flex flex-col">
                            <mat-form-field class="w-full">
                                <mat-label>หมายเหตุ
                                </mat-label>
                                <input matInput [formControlName]="'remark'">
                                <mat-error>
                                    กรุณากรอกหมายเหตุ
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    


                </div>


                <!-- button -->
                <div class="flex items-center justify-end w-full border-t px-8 py-4">
                    <div class="flex items-center justify-end">
                        <button class="ml-4 mat-primary" mat-flat-button mat-dialog-close>
                            <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
                            ยกเลิก
                        </button>
                        <button class="px-6 ml-3 mat-primary" mat-flat-button (click)="update()" >
                            <mat-icon svgIcon="heroicons_solid:check"></mat-icon>
                            ยืนยัน
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>